Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][doc] `LLVM 22.1.7` is the latest stable supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.7` is the latest stable supported version (#2578)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][build][cmake] Support for Python `3.15.x`
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][build][cmake] Support for Python `3.15.x` (#2579)
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2580)
  CMakeLists.txt
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2584][fix] Fix failed `CUB` tests
  tests/lit.cfg
  tests/unit_tests/libraries/CUB/cub_01_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_02_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_03_LLVM_8.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2584][fix] Fix failed `CUB` tests (#2585)
  tests/lit.cfg
  tests/unit_tests/libraries/CUB/cub_01_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_02_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_03_LLVM_8.cu
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2586)
  tests/lit.cfg
  tests/unit_tests/libraries/CUB/cub_01_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_02_LLVM_8.cu
  tests/unit_tests/libraries/CUB/cub_03_LLVM_8.cu
Owners: @searlmc1, @emankov

AIRUNTIME-171 - add cooperative_groups::inclusive_scan() and exclusive_scan() support
  bin/hipify-perl
  src/CUDA2HIP.cpp
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2602)
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][cuDNN] Add cuDNN 9.22.0 symbols - Step 2
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Change HIPIFY's license from MIT to Apache 2.0 with LLVM Exceptions
  LICENSE.txt
Owners: @searlmc1, @emankov

Change HIPIFY's license from MIT to Apache 2.0 with LLVM Exceptions (#2628)
  LICENSE.txt
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2638)
  LICENSE.txt
Owners: @searlmc1, @emankov

[HIPIFY][fix][LCOMP-2369] Exclude standalone-CUB tests on CUDA >= 12.6 (fixes cstdint.h build failure)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][cuDNN] Add cuDNN 9.22.0 symbols - Step 2 (#2607)
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2641)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][cuDNN] cuDNN 9.23.0 is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][cuDNN] cuDNN 9.23.0 is the latest supported version (#2646)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 22.1.8` is the latest stable supported version (#2578)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.8` is the latest stable supported version (#2578) (#2647)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 4 - `cuSPARSELt v.0.1.0`
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 4 - `cuSPARSELt v.0.1.0` (#2648)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2649)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2652)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][refactor] Simplify test harness
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][tests][refactor] Simplify test harness (#2654)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 5 - Enable testing
  CMakeLists.txt
  src/CUDA2HIP.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 5 - Enable testing (#2659)
  CMakeLists.txt
  src/CUDA2HIP.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2658)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.23.1 is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.23.1 is the latest supported version (#2660)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update (#2663)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.23.2 is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.23.2 is the latest supported version (#2664)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][fix] Adds missing cuSPARSELT API name
  src/Statistics.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][fix] Adds missing cuSPARSELT API name (#2665)
  src/Statistics.cpp
Owners: @searlmc1, @emankov

update rocm-docs-core to 1.37.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE] The latest supported version of `cuFile` is `1.18.1`
  docs/building/build-hipify-clang-windows.rst
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov
