Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 1
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] The supported 3rd parties update
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 2 - Tests
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 3 - Post 6.2 APIs removal
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] cuDNN 9.3.0 is the latest supported version
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][6.2.2] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Header device_launch_parameters present in CUDA should be skipped
  bin/hipify-perl
  src/CUDA2HIP.cpp
Owners: @searlmc1, @emankov

[HIPIFY][tests][doc] Python 3.12.5 is supported
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Generate hipify-perl instead of manually editing it
  bin/hipify-perl
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-475354][#1439][#1459][fix] Switched the `e_add_const_argument` matchers to using `getWriteRange`
  src/HipifyAction.cpp
  tests/unit_tests/samples/cudaMallocHost.cu
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-475354][#1439][#1459][fix] Switched the rest of transforming matchers to using `getWriteRange`
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/transforming_matchers.cu
Owners: @searlmc1, @emankov

[HIPIFY][doc][6.2.2] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 1 - Infrastructural
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/Statistics.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUB][tests] Temporary disabling of `CUB` tests for `CUDA >= 12.6.x`
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 2 - Headers
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/HipifyAction.cpp
  src/HipifyAction.h
  tests/unit_tests/headers/headers_test_09_12000.cu
  tests/unit_tests/headers/headers_test_09_rocrand.cu
  tests/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
Owners: @searlmc1, @emankov

[HIPIFY][perl] Fix cuda2roc headers substitution under the `--roc` option
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 3 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 1
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 2
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SWDEV-481313][tests][fix] Fix the test `transforming_matchers.cu` failed to compile on Linux
  tests/unit_tests/synthetic/transforming_matchers.cu
Owners: @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 4 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][fix] Fix for the header test failed on CUDA 7.0.0
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_09_fp16_7050.cu
  tests/unit_tests/headers/headers_test_09_rocrand.cu
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-480722][hiRAND][fix] Add missing support for `curandDirectionVectors64_t` -> `hiprandDirectionVectors64_t`
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 3
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 4
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 5 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 5
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 6
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

SWDEV-437189 - Provide option to enable/disable CPACK_SET_DESTDIR
  CMakeLists.txt
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 7
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] cuDNN 9.4.0 is the latest supported version
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][RAND][tests][fix] Fix synthetic `RAND` tests
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 6 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add Windows check for CPACK_SET_DESTDIR
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][doc] CUDA `12.6.0` is the latest supported release (LLVM 20.x)
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 8
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#1474][Linux][feature] Added a filtering ability for the supplementary hipification scripts - Part 1 - hipconvertinplace-perl.sh
  CMakeLists.txt
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/hipconvertinplace-perl.sh
  packaging/hipify-clang.postinst
  packaging/hipify-clang.prerm
  packaging/hipify-clang.rpm_post
  packaging/hipify-clang.rpm_postun
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

[HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 7 - Functions
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_functions.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 9
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] CUDA `12.6.1` is the latest supported release (LLVM 20.x)
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov
