Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][lit] Introduced `LIT_ARGS` to pass options to `LIT` from `CMake`
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

SWDEV-428387 - Use the debug package creation variables provided by build script
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

[HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

[HIPIFY][docs] Updated the `hipify-clang` documentation
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

lisa edits
  docs/.gitignore
  docs/how-to/hipify-clang.md
  docs/how-to/hipify-perl.md
  docs/index.md
  docs/index.rst
  docs/reference/cuda-apis/cub-api-hip-support.rst
  docs/reference/cuda-apis/cublas-api-hip-roc-support.md
  docs/reference/cuda-apis/cucomplex-api-hip-support.md
  docs/reference/cuda-apis/cuda-device-api-hip-support.md
  docs/reference/cuda-apis/cuda-driver-api-hip-support.md
  docs/reference/cuda-apis/cuda-rtc-api-hip-support.md
  docs/reference/cuda-apis/cuda-runtime-api-hip-support.md
  docs/reference/cuda-apis/cudnn-api-hip-miopen-support.md
  docs/reference/cuda-apis/cufft-api-hip-support.md
  docs/reference/cuda-apis/curand-api-hip-support.md
  docs/reference/cuda-apis/cusolver-api-hip-roc-support.md
  docs/reference/cuda-apis/cusparse-api-hip-roc-support.md
  docs/reference/cuda-apis/old/_dup-cublas-api-hip-support.md
  docs/reference/cuda-apis/old/_dup-cublas-api-roc-support.md
  docs/reference/cuda-apis/old/_dup-cudnn-api-hip-support.md
  docs/reference/cuda-apis/old/_dup-cudnn-api-miopen-support.md
  docs/reference/cuda-apis/old/_dup-cusolver-api-hip-support.md
  docs/reference/cuda-apis/old/_dup-cusolver-api-roc-support.md
  docs/reference/cuda-apis/old/_dup-cusparse-api-hip-support.md
  docs/reference/cuda-apis/old/_dup-cusparse-api-roc-support.md
  docs/reference/supported-apis.rst
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
  docs/what-is-hipify.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][docs] Updated the `hipify-clang` documentation - rewording
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

[HIPIFY][docs] Updated the `hipify-clang` documentation
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 1
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 2
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

SWDEV-435473: The installation location of hipify_clang is not correct
  CMakeLists.txt
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

Small fix
  CMakeLists.txt
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 3
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc][6.1.1] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Fix typos
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][doc] LLVM 18.1.0 is the latest supported LLVM release
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

Use CMAKE_INSTALL_LIBEXECDIR and CMAKE_INSTALL_INCLUDEDIR
  CMakeLists.txt
Owners: @searlmc1, @emankov

cleanup
  docs/conf.py
  docs/data/how-to/csv_statistics.png
  docs/how-to/hipify-clang.md
  docs/index.rst
  docs/reference/cuda-apis/cub-api-hip-support.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] LLVM 18.1.1 is the latest supported LLVM release
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

Update broken links
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

test links
  docs/data/patches/patch_for_clang_10.0.0_bug_47332.zip
  docs/data/patches/patch_for_clang_10.0.1_bug_47332.zip
  docs/data/patches/patch_for_clang_11.0.0_bug_47332.zip
  docs/data/patches/patch_for_clang_14.0.0_bug_54609.zip
  docs/data/patches/patch_for_clang_14.0.1_bug_54609.zip
  docs/data/patches/patch_for_clang_14.0.2_bug_54609.zip
  docs/data/patches/patch_for_clang_14.0.3_bug_54609.zip
  docs/data/patches/patch_for_clang_14.0.4_bug_54609.zip
  docs/data/patches/patch_for_clang_7.0.0_bug_38811.zip
  docs/data/patches/patch_for_clang_7.0.1_bug_38811.zip
  docs/data/patches/patch_for_clang_7.1.0_bug_38811.zip
  docs/data/patches/patch_for_clang_8.0.0_bug_38811.zip
  docs/data/patches/patch_for_clang_8.0.1_bug_38811.zip
  docs/hipify-clang.md
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 4
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

[HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 5
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

table revamp
  README.md
  docs/data/csv_statistics.png
  docs/hipify-clang.md
  docs/hipify-clang.rst
  docs/index.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

table updates
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 6
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 7
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 8
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 9
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 10
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 11
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

asterisks
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation

asterisks
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
