Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] Refactor include scanning and add depth-2 transitive context test
  src/LocalHeader.cpp
  tests/lit.cfg
  tests/unit_tests/headers/local_headers/transitive_child.h
  tests/unit_tests/headers/local_headers/transitive_parent.h
  tests/unit_tests/headers/local_headers/transitive_system_include.cu
Owners: @searlmc1, @emankov

[HIPIFY][doc][NFC] Updated the licence
  src/LocalHeader.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] Fix regex, premature loop break, and duplicate warnings
  src/LocalHeader.cpp
  tests/unit_tests/headers/local_headers/block_comment_include.h
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/parent_a.h
  tests/unit_tests/headers/local_headers/parent_b.h
  tests/unit_tests/headers/local_headers/shared_dep.h
  tests/unit_tests/headers/local_headers/subdir_a/dup_name.h
  tests/unit_tests/headers/local_headers/subdir_b/dup_name.h
Owners: @searlmc1, @emankov

[HIPIFY][fix] Apply review fixes: forward decl, <memory>, lit RUN args, depth-2 test
  src/ArgParse.cpp
  src/LocalHeader.cpp
  src/LocalHeader.h
  tests/lit.cfg
  tests/unit_tests/headers/local_headers/angle_bracket.cu
  tests/unit_tests/headers/local_headers/common.h
  tests/unit_tests/headers/local_headers/diamond_dep.cu
  tests/unit_tests/headers/local_headers/diamond_left.h
  tests/unit_tests/headers/local_headers/diamond_right.h
  tests/unit_tests/headers/local_headers/diamond_shared.h
  tests/unit_tests/headers/local_headers/duplicate_header.cu
  tests/unit_tests/headers/local_headers/injection_multi.cu
  tests/unit_tests/headers/local_headers/injection_no_duplicate.cu
  tests/unit_tests/headers/local_headers/injection_pragma_once.cu
  tests/unit_tests/headers/local_headers/injection_recursive.cu
  tests/unit_tests/headers/local_headers/injection_test.cu
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/mixed.h
  tests/unit_tests/headers/local_headers/no_local_headers.cu
  tests/unit_tests/headers/local_headers/non_cuda_header.cu
  tests/unit_tests/headers/local_headers/recursive-header.cu
  tests/unit_tests/headers/local_headers/relative_path.cu
  tests/unit_tests/headers/local_headers/shared_header_1.cu
  tests/unit_tests/headers/local_headers/shared_header_2.cu
  tests/unit_tests/headers/local_headers/single_header.cu
  tests/unit_tests/headers/local_headers/stress_test.cu
  tests/unit_tests/headers/local_headers/transitive_child.h
  tests/unit_tests/headers/local_headers/transitive_system_include.cu
Owners: @searlmc1, @emankov

[HIPIFY][feature] Implicit hipification of local header files
  src/ArgParse.cpp
  src/ArgParse.h
  src/LocalHeader.cpp
  src/main.cpp
  tests/unit_tests/headers/local_headers/angle_bracket.cu
  tests/unit_tests/headers/local_headers/common.h
  tests/unit_tests/headers/local_headers/cyclic_header.cu
  tests/unit_tests/headers/local_headers/duplicate.h
  tests/unit_tests/headers/local_headers/duplicate_header.cu
  tests/unit_tests/headers/local_headers/injection_has_cmath.h
  tests/unit_tests/headers/local_headers/injection_helper.h
  tests/unit_tests/headers/local_headers/injection_inner.h
  tests/unit_tests/headers/local_headers/injection_multi.cu
  tests/unit_tests/headers/local_headers/injection_no_duplicate.cu
  tests/unit_tests/headers/local_headers/injection_outer.h
  tests/unit_tests/headers/local_headers/injection_pragma_header.h
  tests/unit_tests/headers/local_headers/injection_pragma_once.cu
  tests/unit_tests/headers/local_headers/injection_recursive.cu
  tests/unit_tests/headers/local_headers/injection_test.cu
  tests/unit_tests/headers/local_headers/injection_uses_cmath.h
  tests/unit_tests/headers/local_headers/local_angle.h
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/mixed.h
  tests/unit_tests/headers/local_headers/no_local_headers.cu
  tests/unit_tests/headers/local_headers/non_cuda.h
  tests/unit_tests/headers/local_headers/non_cuda_header.cu
  tests/unit_tests/headers/local_headers/rec_1.h
  tests/unit_tests/headers/local_headers/recursive-header.cu
  tests/unit_tests/headers/local_headers/relative/common1.h
  tests/unit_tests/headers/local_headers/relative/sub/common2.h
  tests/unit_tests/headers/local_headers/relative_path.cu
  tests/unit_tests/headers/local_headers/shared.h
  tests/unit_tests/headers/local_headers/shared_header_1.cu
  tests/unit_tests/headers/local_headers/shared_header_2.cu
  tests/unit_tests/headers/local_headers/single_header.cu
  tests/unit_tests/headers/local_headers/single_header.h
  tests/unit_tests/headers/local_headers/stress_test.cu
  tests/unit_tests/headers/local_headers/vector_math.h
Owners: @searlmc1, @emankov

[HIPIFY][fix] Fix regex and structured bindings
  src/LocalHeader.cpp
Owners: @searlmc1, @emankov

[HIPIFY][feature] Local header hipification with preceding include injection via ArgumentsAdjusters
  src/LocalHeader.cpp
  src/LocalHeader.h
  src/main.cpp
  tests/unit_tests/headers/local_headers/injection_has_cmath.h
  tests/unit_tests/headers/local_headers/injection_helper.h
  tests/unit_tests/headers/local_headers/injection_inner.h
  tests/unit_tests/headers/local_headers/injection_multi.cu
  tests/unit_tests/headers/local_headers/injection_no_duplicate.cu
  tests/unit_tests/headers/local_headers/injection_outer.h
  tests/unit_tests/headers/local_headers/injection_pragma_header.h
  tests/unit_tests/headers/local_headers/injection_pragma_once.cu
  tests/unit_tests/headers/local_headers/injection_recursive.cu
  tests/unit_tests/headers/local_headers/injection_test.cu
  tests/unit_tests/headers/local_headers/injection_uses_cmath.h
  tests/unit_tests/headers/local_headers/vector_math.h
Owners: @searlmc1, @emankov

[HIPIFY][fix] Fix compile_commands json issue
  src/LocalHeader.cpp
Owners: @searlmc1, @emankov

[HIPIFY] Replace regex-based include scanning with Clang PPCallbacks and restore opt-in flags
  src/ArgParse.cpp
  src/ArgParse.h
  src/LocalHeader.cpp
  src/LocalHeader.h
  src/main.cpp
  tests/unit_tests/headers/local_headers/angle_bracket.cu
  tests/unit_tests/headers/local_headers/common.h
  tests/unit_tests/headers/local_headers/cyclic_header.cu
  tests/unit_tests/headers/local_headers/duplicate_header.cu
  tests/unit_tests/headers/local_headers/injection_multi.cu
  tests/unit_tests/headers/local_headers/injection_no_duplicate.cu
  tests/unit_tests/headers/local_headers/injection_pragma_once.cu
  tests/unit_tests/headers/local_headers/injection_recursive.cu
  tests/unit_tests/headers/local_headers/injection_test.cu
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/mixed.h
  tests/unit_tests/headers/local_headers/no_local_headers.cu
  tests/unit_tests/headers/local_headers/non_cuda_header.cu
  tests/unit_tests/headers/local_headers/recursive-header.cu
  tests/unit_tests/headers/local_headers/relative_path.cu
  tests/unit_tests/headers/local_headers/shared_header_1.cu
  tests/unit_tests/headers/local_headers/shared_header_2.cu
  tests/unit_tests/headers/local_headers/single_header.cu
  tests/unit_tests/headers/local_headers/stress_test.cu
  tests/unit_tests/headers/local_headers/transitive_system_include.cu
Owners: @searlmc1, @emankov

[HIPIFY][fix] Single-pass include collection and local header context injection
  src/LocalHeader.cpp
  src/LocalHeader.h
  src/main.cpp
  tests/lit.cfg
  tests/unit_tests/headers/local_headers/non_self_contained.cu
  tests/unit_tests/headers/local_headers/nsc_context.h
  tests/unit_tests/headers/local_headers/nsc_dependent.h
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature][tests] `cuSPARSELt` support - Step 8 - `CUSPARSELT_VERSION`-dependent testing
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_0100_0510.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_after_0300.cu
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature][tests] `cuSPARSELt` support - Step 8 - `CUSPARSELT_VERSION`-dependent testing (#2697)
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_0100_0510.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_after_0300.cu
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

AIRUNTIME-171 - fix typo and comments
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Device_functions.cpp
Owners: @searlmc1, @emankov

AIRUNTIME-171 - add header_tests_14_cooperative_groups.cu
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_14_cooperative_groups.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 9 - `cuSPARSELt v.0.4.0`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_after_0300.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 9 - `cuSPARSELt v.0.4.0` (#2700)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_after_0300.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

AIRUNTIME_171 - use CHECK_NEXT after the first CHECK as it is a better validation
  tests/unit_tests/headers/headers_test_14_cooperative_groups.cu
Owners: @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update (#2701)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Fix typo in lit.cfg
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][ROCM-1254] Add cooperative_groups reduce and scans support (#2448)
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Device_functions.cpp
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_14_cooperative_groups.cu
Owners: @searlmc1, @emankov

[HIPIFY][docs] add doc for installing prebuilt packages (#2550)
  docs/index.rst
  docs/install.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY] Add LLVM lib dir to hipify-clang RPATH
  CMakeLists.txt
Owners: @searlmc1, @emankov

Bump rocm-docs-core from 1.38.0 to 1.39.0 in /docs/sphinx
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2707)
  CMakeLists.txt
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  docs/sphinx/requirements.txt
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/headers/headers_test_14_cooperative_groups.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_0100_0510.cu
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt_after_0300.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY] Derive hipify-clang RPATH from LLVM_LIBRARY_DIRS
  CMakeLists.txt
Owners: @searlmc1, @emankov

Bump rocm-docs-core to 1.40 and add [llms] extra
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

update conf.py and enable generating llms.txt
  docs/conf.py
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types (#2709)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types - Part 2 (#2710)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types - Part 3 - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update html_title in docs conf
  docs/conf.py
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][infra][doc] Bump `rocm-docs-core` to `1.40.0` and enable generating llms.txt (#2708)
  docs/conf.py
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.14][sync] Sync with TheROC 7.14.0 - Step 1 - HIP - Data Types - Part 3 - final (#2712)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY] Set hipify-clang RPATH via INSTALL_RPATH instead of LINK_FLAGS
  CMakeLists.txt
Owners: @searlmc1, @emankov

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov
