Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

Update the aws credential configuration for rockci repo
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_windows_artifacts.yml
Owners: @searlmc1, @emankov

[HIPIFY][cuFile][Linux][sync] Sync with `cuFile 1.17.0`
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][cuFile][Linux][sync] Sync with `cuFile 1.17.0` (#2427)
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][fix] Fixed `CONVERTED refs count` calculation under the `-print-stats`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][fix] Fixed `CONVERTED refs count` calculation under the `-print-stats` (#2428)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support (#2429)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Infra] Enable dynamic drive allocation to `Windows` build (#2383)
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/setup.yml
  .github/workflows/test_aomp_smoke.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
Owners: @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.1` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.1` is the latest stable supported versions (#2430)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE][tests][Windows][fix] Fix the `cufile2hipfile.cu` test failed on `Windows` only
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE][tests][Windows][fix] Fix the `cufile2hipfile.cu` test failed on `Windows` only (#2431)
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support (#2429)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support (#2429) (#2432)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#837][#2062][feature][RFC] Implement e_insert_new_argument for CUDA-to-HIP APIs with variable declarations
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
Owners: @searlmc1, @emankov

[HIPIFY][#837][#2062][feature] Fix scoping, add variable initialization, middle argument insertion, and clarify CastInfo semantics
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
Owners: @searlmc1, @emankov

[HIPIFY] Add hipify_ prefix for generated variable names in e_insert_new_argument
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Temporary test removal for gfx94x due to MI325 machine shortage
  .github/workflows/setup.yml
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#181][fix] Fix incomplete directory traversal for `-exclude-dirs`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Temporary test removal for gfx94x due to MI325 machine shortage (#2433)
  .github/workflows/setup.yml
Owners: @searlmc1, @emankov

[HIPIFY][#837][#2062][RFC][feature] Implement `e_insert_new_argument` for APIs need variable declarations - Part 1 (#2415)
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#181][fix] Fix incomplete directory traversal for `-exclude-dirs` (#2434)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 1 - `Data Types` (#2435)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateSimpleSubstitutions` - Part 1
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateSimpleSubstitutions` - Part 1 (#2436)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 2 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 2 - `Data Types` (#2438)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateRocSubstitutions` - Part 2
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateRocSubstitutions` - Part 2 (#2439)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][doc] 3rd Parties SW: Sync `HIPIFY` documentation
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd Parties SW: Sync `HIPIFY` documentation (#2440)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 3 - `Data Types` (final)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 3 - `Data Types` (final) (#2441)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update rocm-docs-core to 1.33.1
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateExperimentalSubstitutions` - Part 3
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#1776][optimization] Remove redundant loops in Perl hash generator function `generateExperimentalSubstitutions` - Part 3 (#2444)
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][TENSOR] `cuTensor 2.6.0.0` support
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR] `cuTensor 2.6.0.0` support (#2445)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][optimization] Minimize `hipify-perl` footprint by `18%` via mapping helper function
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov
