Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 4 - Driver - Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 5 - Driver - Functions - Unified Addressing
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] `cuDNN 9.12.0` is the latest supported `cuDNN` version
  docs/building/building-hipify.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 6 - Driver - Functions - Streams, Graphs
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_functions_internal.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 7 - Driver - Functions (final)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][clang][#147835][compatibility][SWDEV-549281][fix][partial] clang `22.0.0git` compatibility fixes - Part 1
  src/LLVMCompat.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#2062][CUDA][tests][workaround][temporary] Let the testing pass on `CUDA < 13.0`
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_functions_internal.cu
Owners: @searlmc1, @emankov

[HIPIFY][build][CUB][tests][fix] Fix `CUDA_CUB_ROOT_DIR` when `CUB` is distributed with `CUDA`
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][clang][#147835][compatibility][SWDEV-549281][fix][partial] clang `22.0.0git` compatibility fixes - Part 2 - final
  src/HipifyAction.cpp
  src/LLVMCompat.cpp
  src/LLVMCompat.h
Owners: @searlmc1, @emankov

[HIPIFY][IMP] Switch hipification to `C++17` by default
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][clang][compatibility] Make conditional setting the default C++ for hipification based on clang version
  CMakeLists.txt
  src/LLVMCompat.cpp
  src/LLVMCompat.h
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 8 - Runtime - Functions - Thread Management [REMOVED] - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/lit.cfg
  tests/unit_tests/compilation_database/compilation_database_13000/cd_intro.cu
  tests/unit_tests/compilation_database/compilation_database_13000/compile_commands.json.in
  tests/unit_tests/compilation_database/compilation_database_13000/include/inc.h
  tests/unit_tests/compilation_database/compilation_database_before_13000/cd_intro_before_13000.cu
  tests/unit_tests/compilation_database/compilation_database_before_13000/compile_commands.json.in
  tests/unit_tests/compilation_database/compilation_database_before_13000/include/inc.h
  tests/unit_tests/samples/intro_before_13000.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 9 - Runtime - Functions - Thread Management [REMOVED] - Part 2 - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] 3rd party SW versions update
  docs/building/building-hipify.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 10 - Runtime - Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Revert "[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 10 - Runtime - Functions" (#135)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update docs to separate Windows and Linux buildinstructions
  docs/building/building-hipify.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Address review comments
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 21.1.0` and `CUDA 12.9.1` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][#2072][fix] Fix `ref:`s and `toc` in the `rst` documentation
  docs/how-to/hipify-clang.rst
  docs/how-to/hipify-perl.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][#2075][fix] Fix `ref:`s in the `rst` documentation - continuation
  docs/how-to/hipify-clang.rst
  docs/how-to/hipify-perl.rst
  docs/reference/hipify-clang-cmd.rst
  docs/reference/hipify-perl-cmd.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][#2075][fix] Fix `ref:`s in the `rst` documentation - continuation
  docs/reference/hipify-clang-cmd.rst
  docs/reference/hipify-perl-cmd.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][#2075][fix] Restructure `toc` in the `rst` documentation
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/building/build-hipify-perl.rst
  docs/conf.py
  docs/reference/hipify-clang-cmd.rst
  docs/reference/hipify-perl-cmd.rst
  docs/reference/supported_apis.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN][fix] `cuDNN 9.12.0` is the latest supported `cuDNN` version
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

[HIPIFY][doc][fix] Fix for the broken links to LLVM patches
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][yaml][lint] Fix failed documentation generation
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][fix][rst] Set correct name tags to navigate across the documentation
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2082][doc][fix][rst] Switch `ref` to `doc` in the `index.rst`
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/index.rst
  docs/reference/hipify-perl-cmd.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][rst] Fix typos
  docs/reference/hipify-clang-cmd.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][fix] Introduced multilevel tree for `Supported APIs`: `HIP`, `ROC`, and `HIP+ROC`
  docs/index.rst
  docs/reference/hip_roc_supported_apis.md
  docs/reference/hip_supported_apis.md
  docs/reference/roc_supported_apis.md
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] The generated documentation revise, format, and clean up
  docs/reference/hip_roc_supported_apis.md
  docs/reference/hip_supported_apis.md
  docs/reference/roc_supported_apis.md
  docs/reference/supported_apis.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  docs/reference/tables/CUB_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CURAND_API_supported_by_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  docs/reference/tables/cuComplex_API_supported_by_HIP.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Add cuda_bf16 support for HIPify
  bin/hipify-perl
Owners: @searlmc1, @emankov

[HIPIFY][#2086][fix] Added the missing change in the source file
  src/CUDA2HIP_Doc.cpp
Owners: @searlmc1, @emankov

Introduces implicit header hipification support
  src/ImplicitHeader.cpp
  src/ImplicitHeader.h
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-552615][#2088][bug][fix] Added the missing support of `cuda_bf16.h` import
  bin/hipify-perl
  src/CUDA2HIP.cpp
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_09_bf16_11000.cu
Owners: @searlmc1, @emankov
