Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][FILE][#2667][fix][typo] Fix typo in documentation
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE] The latest supported version of `cuFile` is `1.18.1` (#2667)
  docs/building/build-hipify-clang-windows.rst
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update rocm-docs-core to 1.38.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.24.0 is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] cuDNN 9.24.0 is the latest supported version (#2670)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][fix] Fix `cuFile->hipFile` data types mapping
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][fix] Fix `cuFile->hipFile` data types mapping (#2671)
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SPARSELt][test] Adds supported cusparselt2hipsparselt.cu APIs and regenerate hipify-perl
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov

Uses CHECK-NEXT in test
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov

[HIPIFY][SPARSELt][test] Adds supported `cusparselt2hipsparselt.cu` APIs and regenerate `hipify-perl` (#2669)
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][tests][fix] Fixed `cusparselt2hipsparselt` testing
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][tests][fix] Fixed `cusparselt2hipsparselt` testing (#2672)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][DNN] cuDNN 9.25.0 is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] cuDNN 9.25.0 is the latest supported version (#2673)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][test][fix] Fix `cufile2hipfile` tests failed on older CUDA versions
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
  tests/unit_tests/synthetic/libraries/cufile2hipfile_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE][test][fix] Fix `cufile2hipfile` tests failed on older CUDA versions (#2674)
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
  tests/unit_tests/synthetic/libraries/cufile2hipfile_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][TENSOR] cuTENSOR 2.7.0.0 is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR] cuTENSOR 2.7.0.0 is the latest supported version (#2676)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] Preserve wrapper script behavior in SEC-00330 fix
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][fix] Quote find output safely in bin wrapper scripts
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][fix] Avoid shift when wrapper scripts have no args
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][clang][fix] Remove `clang::CudaVersion::CUDA_133`
  src/Statistics.cpp
Owners: @searlmc1, @emankov

[HIPIFY][clang][fix] Remove `clang::CudaVersion::CUDA_133` (#2678)
  src/Statistics.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] Quote find output safely in bin wrapper scripts (#2675)
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.3][Runtime] `CUDA 13.3.0` support - Step 1 - `Driver` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.3][Runtime] `CUDA 13.3.0` support - Step 1 - `Driver` - Part 1 - `Data Types` (#2680)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUB][tests][fix] Exclude `CUB` tests for `CUDA 13`, too
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][CUB][tests][fix] Exclude `CUB` tests for `CUDA 13`, too (#2682)
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][build][CMake][fix] Updating Source File Discovery (`GLOB`)
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2684)
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/sphinx/requirements.txt
  src/CUDA2HIP_Driver_API_types.cpp
  tests/lit.cfg
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] Quote find output safely in bin wrapper scripts (#2675)
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][build][CMake][fix] Updating Source File Discovery (`GLOB`) (#2683)
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 6 - `cuSPARSELt v.0.2.0`
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 6 - `cuSPARSELt v.0.2.0` (#2689)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2691)
  CMakeLists.txt
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][build][CMake][refactor] Transition to Modern CMake target properties
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][build][CMake][refactor] Transition to Modern CMake target properties (#2695)
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 7 - `cuSPARSELt v.0.3.0`
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 7 - `cuSPARSELt v.0.3.0` (#2696)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparselt2hipsparselt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] Quote find output safely in bin wrapper scripts (#2675)
  bin/findcode.sh
  bin/findcode_custom.sh
  bin/findcode_headers.sh
  bin/findcode_sources.sh
  bin/finduncodep.sh
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov
