Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

Adds cufile2hipfile.cu test to CMake and lit integration
  CMakeLists.txt
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov

Fixed typo and udpated CMake, configure files
  CMakeLists.txt
  tests/lit.cfg
  tests/lit.site.cfg.in
Owners: @searlmc1, @emankov

[HIPIFY][feature] Add implicit CUDA header inclusion to mimic nvcc behavior
  src/ImplicitCudaHeaders.cpp
  src/ImplicitCudaHeaders.h
  src/main.cpp
Owners: @searlmc1, @emankov

Removed getImplicitCudaHeaders() and modified the Copyright
  src/ImplicitCudaHeaders.cpp
  src/ImplicitCudaHeaders.h
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 10 - `CUB`
  src/CUDA2HIP.h
  src/CUDA2HIP_CUB_API_functions.cpp
  src/CUDA2HIP_CUB_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][DNN][doc] `cuDNN 9.19.0` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE][test] Adding cuFile synthetic test - Part 2 - Functions
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cufile2hipfile_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE][test] Adds logic for CUDA < 11.4 exclusion and minor fix in test
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cufile2hipfile_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE] Sync with `cuFile` - Part 1
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Infra] workaround for long paths on Windows build
  .github/workflows/build_windows_artifacts.yml
Owners: @searlmc1, @emankov

[HIPIFY][ROCM-1367][fix] Use host target in Init() to avoid CUDA 12.x ptxas/nvlink errors
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][ROCM-1367][fix] Use host target in Init() to avoid CUDA 12.x ptxas/nvlink errors
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][test] Fixed the typo from hipFileNVMeP2PSsupported to hipFileNVMeP2PSupported
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE] Sync with `cuFile` - Part 2 - final
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][test][Windows] Added support for testing `cuFile` on Windows
  CMakeLists.txt
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/arpa/inet.h
  tests/unit_tests/synthetic/libraries/sys/socket.h
  tests/unit_tests/synthetic/libraries/sys/types.h
Owners: @searlmc1, @emankov

Remove unlicensed files borrowed from Jonathan Hui's blog.
  tests/unit_tests/samples/dynamic_shared_memory.cu
  tests/unit_tests/samples/static_shared_memory.cu
Owners: @searlmc1, @emankov

Remove unlicensed files borrowed from Jonathan Hui's blog.
  tests/unit_tests/samples/dynamic_shared_memory.cu
  tests/unit_tests/samples/static_shared_memory.cu
Owners: @searlmc1, @emankov

Remove unlicensed files borrowed from Jonathan Hui's blog.
  tests/unit_tests/samples/dynamic_shared_memory.cu
  tests/unit_tests/samples/static_shared_memory.cu
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 11 - `FILE`
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Final clean up and formatting
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_CUB_API_functions.cpp
  src/CUDA2HIP_CUB_API_types.cpp
  src/CUDA2HIP_Complex_API_functions.cpp
  src/CUDA2HIP_Complex_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_RTC_API_functions.cpp
  src/CUDA2HIP_RTC_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Driver] `CUDA 13.1.0` support - Step 1 - `Driver` - Part 4 - `Functions`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][doc] `CUFile` API and `HIP FILE` API are supported only on Linux
  docs/reference/hip_supported_apis.md
  docs/reference/supported_apis.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#1776][perl][fix] Minor fixes preventing `Warning Flood` and `Global Variable Pollution`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][FILE][test] Updated cuFile synthetic tests with missing types, enums, and function test
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
  tests/unit_tests/synthetic/libraries/cufile2hipfile_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][FILE][test] Updated recently added enums and driver flags
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov

[HIPIFY][DNN][doc] `cuDNN 9.19.1` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[hipify-perl][#1776][performance][fix] Major performance optimization and correctness fixes via `O(1) Hash Architecture`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][#2418][fix] Refactor and optimize hipify-perl generation - Step 2
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][#2418][fix] Refactor and optimize hipify-perl generation - Step 2 (#2419)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][fix] Streamline C++ File I/O and Output Streams in the `hipify-perl` generator
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][fix] Streamline C++ File I/O and Output Streams in the `hipify-perl` generator (#2422)
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.0` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.0` is the latest stable supported versions (#2423)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] `cuDNN 9.20.0` is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] `cuDNN 9.20.0` is the latest supported version (#2424)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Infra] workaround for long paths on Windows build for amd-staging
  .github/workflows/build_windows_artifacts.yml
Owners: @searlmc1, @emankov

Updating the base image, windows path and test cluster
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/setup.yml
  .github/workflows/test_aomp_smoke.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
Owners: @searlmc1, @emankov

[HIPIFY][7.2][roSPARSE][fix] Sync with `rocSPARSE 7.2.0`
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.2][roSPARSE][fix] Sync with `rocSPARSE 7.2.0` (#2425)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update the aws condition for non forked project
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_windows_artifacts.yml
Owners: @searlmc1, @emankov
