Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

Add missing clang TargetInfo include to fix incomplete type error
  src/HipifyAction.cpp
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 1 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 2 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 3 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Updates the cuDNN and cuTENSOR version check file logic
  tests/lit.site.cfg.in
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-529096][#2166][fix][cmake][Windows] Correctly locate version header files for CUDA libraries
  CMakeLists.txt
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  tests/lit.cfg
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#1627][cmake][fix][DNN][tests] Fix locating version header files for `cuDNN`
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 4 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/driver_unions.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
  tests/unit_tests/synthetic/runtime_unions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][clang][compatibility] Build `hipify-clang` sources with the highest C++ standard, supported by the corresponding LLVM version
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][#2162][clang][compatibility] Conditionally include `TargetInfo.h`
  src/HipifyAction.cpp
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 5 - Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 6 - Driver Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 3 - Functions - `HIP_UNSUPPORTED`
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 4 - Functions - `HIP_UNSUPPORTED`
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 5 - Functions
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][RT][7.2.0] Sync with HIP 7.2.0 Driver and Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12080.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2169][cmake][cuDNN][cuTENSOR]Fix CMake find_file() with NO_DEFAULT_PATH and cache clearing
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][doc] `LLVM 21.1.6` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Added HIP_EXPERIMENTAL, HIP_7020 to CUDA2HIP_Driver/Functions and regenerated hipify-perl, CUDA2HIP_Driver/Function docs
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.2][doc] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 6 - Functions - final
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.6` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2169][cmake][cuDNN][cuTENSOR]Fix CMake find_file() with NO_DEFAULT_PATH and cache clearing
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][7.2][doc] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 6 - Functions - final
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Added HIP_EXPERIMENTAL, HIP_7020 to CUDA2HIP_Driver/Functions and regenerated hipify-perl, CUDA2HIP_Driver/Function docs
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][RT][7.2.0] Sync with HIP 7.2.0 Driver and Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12080.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Modified HIP_LATEST version and regenerated hipify-perl
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Removed excessive mappings and minor fixes
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12080.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2191][tests][fix] Exclude the `runtime_functions_12080.cu` tests from running for `CUDA < 12.8`
  tests/lit.cfg
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 7 - `Runtime` and `Driver` Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions_before_13000.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_before_13000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add ROCm CI Caller workflow configuration
  .github/workflows/rocm_ci_caller.yml
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 8 - `Runtime` and `Driver`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12080.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.2][Tensor] Sync with `hipTensor 7.2.0`
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add ROCm CI Caller workflow configuration
  .azuredevops/rocm_ci_caller.yml
Owners: @searlmc1, @emankov

Update rocm_ci_caller.yml
  .azuredevops/rocm_ci_caller.yml
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 3 - `HIP` - Step 9 - `Runtime` and `Driver` - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Create rocm_ci_caller.yml for release branch psdb
  .github/workflows/rocm_ci_caller.yml
Owners: @searlmc1, @emankov

[HIPIFY][7.1][HIP] Sync with `ROCm HIP 7.1` - Part 4 - `Device`
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update documentation requirements
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov
