Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][CUDA 13][SOLVER] CUDA 13.0.0 support - Step 25 - `cuSOLVER` - Part 2
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][SOLVER] CUDA 13.0.0 support - Step 25 - `cuSOLVER` - Part 3 - `SolverRf`
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][Windows][fix] Fix the test harness running script
  tests/run_test.bat
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13][SOLVER] CUDA 13.0.0 support - Step 27 - `cuSOLVER` - Part 4 - `SolverSp`
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add optional local header hipification (non-recursive or recursive) with new CLI flags
  src/ImplicitHeader.cpp
  src/ImplicitHeader.h
  src/main.cpp
  tests/unit_tests/headers/implicit_headers/angle_bracket.cu
  tests/unit_tests/headers/implicit_headers/common.h
  tests/unit_tests/headers/implicit_headers/common_1.h
  tests/unit_tests/headers/implicit_headers/common_2.h
  tests/unit_tests/headers/implicit_headers/cyclic_header.cu
  tests/unit_tests/headers/implicit_headers/duplicate.h
  tests/unit_tests/headers/implicit_headers/duplicate_header.cu
  tests/unit_tests/headers/implicit_headers/local_angle.h
  tests/unit_tests/headers/implicit_headers/main.cu
  tests/unit_tests/headers/implicit_headers/mixed.h
  tests/unit_tests/headers/implicit_headers/no_local_headers.cu
  tests/unit_tests/headers/implicit_headers/non_cuda.h
  tests/unit_tests/headers/implicit_headers/non_cuda_header.cu
  tests/unit_tests/headers/implicit_headers/rec_1.h
  tests/unit_tests/headers/implicit_headers/recursive-header.cu
  tests/unit_tests/headers/implicit_headers/relative/common1.h
  tests/unit_tests/headers/implicit_headers/relative_path.cu
  tests/unit_tests/headers/implicit_headers/shared.h
  tests/unit_tests/headers/implicit_headers/shared_header_1.cu
  tests/unit_tests/headers/implicit_headers/shared_header_2.cu
  tests/unit_tests/headers/implicit_headers/single_header.cu
  tests/unit_tests/headers/implicit_headers/single_header.h
  tests/unit_tests/headers/implicit_headers/stress_test.cu
Owners: @searlmc1, @emankov

Minor modification to file names
  src/LocalHeader.cpp
  src/LocalHeader.h
  src/main.cpp
Owners: @searlmc1, @emankov

Minor modification to file names
  tests/unit_tests/headers/local_headers/angle_bracket.cu
  tests/unit_tests/headers/local_headers/common.h
  tests/unit_tests/headers/local_headers/common_1.h
  tests/unit_tests/headers/local_headers/common_2.h
  tests/unit_tests/headers/local_headers/cyclic_header.cu
  tests/unit_tests/headers/local_headers/duplicate.h
  tests/unit_tests/headers/local_headers/duplicate_header.cu
  tests/unit_tests/headers/local_headers/local_angle.h
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/mixed.h
  tests/unit_tests/headers/local_headers/no_local_headers.cu
  tests/unit_tests/headers/local_headers/non_cuda.h
  tests/unit_tests/headers/local_headers/non_cuda_header.cu
  tests/unit_tests/headers/local_headers/rec_1.h
  tests/unit_tests/headers/local_headers/recursive-header.cu
  tests/unit_tests/headers/local_headers/relative/common1.h
  tests/unit_tests/headers/local_headers/relative_path.cu
  tests/unit_tests/headers/local_headers/shared.h
  tests/unit_tests/headers/local_headers/shared_header_1.cu
  tests/unit_tests/headers/local_headers/shared_header_2.cu
  tests/unit_tests/headers/local_headers/single_header.cu
  tests/unit_tests/headers/local_headers/single_header.h
  tests/unit_tests/headers/local_headers/stress_test.cu
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13][SOLVER] CUDA 13.0.0 support - Step 28 - `cuSOLVER` - Part 5 - `SolverSp` - final
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][RAND] CUDA 13.0.0 support - Step 29 - `cuRAND`
  bin/hipify-perl
  docs/reference/tables/CURAND_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][RTC] CUDA 13.0.0 support - Step 30 - `nvRTC`
  bin/hipify-perl
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  src/CUDA2HIP_RTC_API_functions.cpp
  src/CUDA2HIP_RTC_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Device][fix] The missing vector functions and types - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Device][fix] The missing vector functions and types - Part 3 - `(make_)?(u)?long(1|2|3|4)`
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.3` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13][Device] CUDA 13.0.0 support - Step 31 - Device data types - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add ROCm CI Caller workflow configuration (#137)
  .github/workflows/rocm_ci_caller.yml
Owners: @searlmc1, @emankov

[HIPIFY][Device][CUDA 13][fix] The missing vector functions and types - Part 4 - `(make_)?(float|double)(1|2|3|4)`
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR][doc] `cuDNN 9.14.0` is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][Device][fix] CUDA 13.0.0 support - Step 32 - Device data types and functions - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2073][#2112][feature] CUDA version Detection - Part 2
  src/Statistics.cpp
  src/Statistics.h
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] Fix `cleanupHipifyOptions`
  src/ArgParse.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA][BLASLt][SPARSE] CUDA 13.0.1 support
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2062][feature][partial] Initial support for partially supported HIP APIs - Part 1 - tests breaking change
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Driver_API_functions.cpp
  src/HipifyAction.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov

Moved runHipifyOnSingleFile to main.cpp and mindor modifications
  src/ArgParse.cpp
  src/ArgParse.h
  src/LocalHeader.cpp
  src/LocalHeader.h
  src/main.cpp
  tests/unit_tests/headers/local_headers/common.h
  tests/unit_tests/headers/local_headers/common_1.h
  tests/unit_tests/headers/local_headers/common_2.h
  tests/unit_tests/headers/local_headers/local_angle.h
  tests/unit_tests/headers/local_headers/main.cu
  tests/unit_tests/headers/local_headers/mixed.h
  tests/unit_tests/headers/local_headers/relative/common1.h
  tests/unit_tests/headers/local_headers/shared.h
  tests/unit_tests/headers/local_headers/single_header.h
Owners: @searlmc1, @emankov

[HIPIFY][#2062][feature][partial] Initial support for partially supported HIP APIs - Part 2 - `CUDA2HIP` Documentation
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  docs/reference/tables/CUB_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CURAND_API_supported_by_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  docs/reference/tables/cuComplex_API_supported_by_HIP.md
  src/CUDA2HIP_Doc.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.4` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2062][feature][partial] Initial support for partially supported HIP APIs - Part 3 - `Driver` API
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/driver_functions_before_13000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][clang][compatibility][fix] Do not detect CUDA version by means of clang's `CudaInstallationDetector` if `LLVM version < 22`
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][doc][tests] `Python 3.14.0` is the latest Python version, supported by `hipify-clang` lit testing
  CMakeLists.txt
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2062][feature][partial] Initial support for partially supported HIP APIs - Part 4 - `Runtime` API
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/runtime_functions_before_13000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Device][7.0][fix] The missing device functions and types
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Runtime][Driver][7.0][fix] The missing HIP functions and types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_before_13000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][#2090][fix][Linux] The non-existing directory in relative path of the `#include` directive
  tests/unit_tests/headers/local_headers/relative/sub/common2.h
  tests/unit_tests/headers/local_headers/relative_path.cu
Owners: @searlmc1, @emankov

Fix JSON compilation_database link
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Fix JSON compilation_database link (#2156)
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][BLAS][7.0][fix] Added the missing `cublasSetWorkspace(_v2)?` -> `hipblasSetWorkspace` hipification
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][hipBLASLt] Sync with ROCm HIP 7.1 - Part 1 - `hipBLASLt`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 1 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.5` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][7.1][FFTw] Sync with `ROCm HIP 7.1` - Part 2 - `fftw` - Step 2 - Functions
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation
