Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 105 - `cusparseSpSM_solve` -> `rocsparse_spsm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] `cudaMallocHost` -> `hipHostMalloc`
  src/HipifyAction.cpp
  tests/unit_tests/device/device_symbols.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov

[HIPIFY][feature] Implemented multiple (HIP API and ROC API) transformations for a single CUDA API description
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_12000.cu
Owners: @searlmc1, @emankov

[HIPIFY][clang][compatibility][fix] clang 19.0.0git compatibility support
  src/HipifyAction.cpp
Owners: @searlmc1, @emankov

[HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Owners: @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 106 - `cusparseSpMM` -> `rocsparse_spmm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 107 - `cusparseSpVV_bufferSize` -> `rocsparse_spvv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 108 - `cusparseSpMV(_bufferSize)?` -> `rocsparse_spmv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 109 - `cusparseSpVV` -> `rocsparse_spvv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 110 - Functions (spmm, scatter, gather, axpby)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 111 - Functions (sddmm)
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 112 - Functions (spsv)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SPARSE][tests] Added some missing tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][HIP][6.1][sync] Sync with `CUDA Runtime API` and `CUDA Driver API` - Step 1 - Data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][HIP][6.1][sync] Sync with `CUDA Runtime API` and `CUDA Driver API` - Step 2 - Functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SPARSE][6.1][sync] Sync with `hipSPARSE` - Step 1 - Deprecated APIs
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][SPARSE][6.1][sync] Sync with `hipSPARSE` - Step 2 - New APIs
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SPARSE][6.1][sync] Sync with `rocSPARSE` - New APIs
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][SPARSE][tests] Added missing tests for `cusparse(S|D|C|Z)csrgemm`
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][SPARSE][tests] Added missing `csru2csr` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][doc] Updated the supported CUDA API
  docs/supported_apis.md
Owners: @ROCm/rocm-documentation

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

Update doc reqs
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

update
  docs/sphinx/requirements.txt
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-424205][#1093][Linux][fix] Fix the scripts directory, changed in the Linux packages
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Owners: @searlmc1, @emankov

[HIPIFY][SPARSE][tests] Added the missing `csru2csr_bufferSizeExt` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][SPARSE][tests] Added the missing `csr2csru` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][MSVC] Force Multi-Processor builds
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][doc] 3rd parties software versions update
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

[HIPIFY][SPARSE][tests] Added missing SpGEMM, SpSV, and SpSM tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov

[HIPIFY][fix] Add the option `-amap` to the list of hipify-clang options
  src/ArgParse.cpp
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-446809][fix] Fix the broken build for LLVM < 13
  src/CUDA2HIP_Scripting.h
Owners: @searlmc1, @emankov

[HIPIFY][docs] Updated the usage of `hipify-clang`
  README.md
  docs/hipify-clang.md
  docs/pics/csv_statistics.png
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][docs] Updated the usage of JSON Compilation Database
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

[HIPIFY][docs] Formatting
  docs/hipify-clang.md
Owners: @ROCm/rocm-documentation

Add exclusions for copying openmp headers.
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-428387][fix] Get rid of absolute paths presented in the `hipify-clang` binary - Part 1
  CMakeLists.txt
  packaging/hipify-clang.txt
  src/ArgParse.cpp
  src/ArgParse.h
  src/main.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/run_test.bat
Owners: @searlmc1, @emankov

[HIPIFY][SWDEV-428387][Linux][tests][fix] Get rid of absolute paths presented in the hipify-clang binary - Part 2 - Restore Linux testing
  tests/run_test.sh
Owners: @searlmc1, @emankov

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/* @ROCm/rocm-documentation
*.md @ROCm/rocm-documentation
*.rst @ROCm/rocm-documentation
