Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][hipSPARSE] Sync with 6.3.0 - Step 2
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][6.3.0][HIP] Sync with HIP
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocBLAS] 64-bit functions support - Step 16
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocBLAS] 64-bit functions support - Step 17
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocBLAS] 64-bit functions support - Step 18
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocBLAS] 64-bit functions support - Step 19
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][rocBLAS] 64-bit functions support - Step 20
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][perl][fix] Fix warning reporting for unsupported APIs
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][perl] Improve warning reporting
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 2
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][tests][fix][BLAS] Fix `data loss` warnings and integral types mismatch in function arguments - Step 1 - BLAS
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov

[HIPIFY][RAND] Formatting
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][SOLVER] Sync with `CUDA 12.6.2` - Step 1 - Solver API
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 2 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 19.1.2` is the latest supported LLVM release
  docs/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 3 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 3
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] Updated `CHANGELOG.md` to conform to the documentation standard
  CHANGELOG.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 4 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 4
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 5 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 5
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Tensor] hipTensor support - test coverage from version 1.0.1 to 2.0.2.1 - Part 13
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Owners: @searlmc1, @emankov

Fix typo
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Owners: @searlmc1, @emankov

reorg hipify docs
  docs/building/build-hipify-perl.rst
  docs/building/building-hipify.rst
  docs/hipify-clang.rst
  docs/hipify-perl.rst
  docs/how-to/hipify-clang.rst
  docs/how-to/hipify-perl.rst
  docs/index.rst
  docs/reference/supported_apis.md
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  docs/tables/CUB_API_supported_by_HIP.md
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/tables/CUFFT_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  docs/tables/cuComplex_API_supported_by_HIP.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update command options
  docs/how-to/hipify-clang.rst
  docs/how-to/hipify-perl.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

reorder options
  docs/how-to/hipify-perl.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Add hipify commands
  docs/how-to/hipify-clang.rst
  docs/how-to/hipify-perl.rst
  docs/index.rst
  docs/reference/hipify-clang-cmd.rst
  docs/reference/hipify-perl-cmd.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Minor edits
  docs/how-to/hipify-clang.rst
  docs/index.rst
  docs/reference/hipify-clang-cmd.rst
  docs/reference/hipify-perl-cmd.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update supported_apis.md
  docs/reference/supported_apis.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update supported_apis.md
  docs/reference/supported_apis.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Add supported_api.md for conflict
  docs/supported_apis.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

remove supported_apis.md for conflict
  docs/supported_apis.md
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Make hipify-clang buildable with an LLVM configured to link libLLVM.so.
  CMakeLists.txt
Owners: @searlmc1, @emankov

Pass USE_SOURCE_PERMISSIONS when installing scripts.
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY] Switch CPACK_PACKAGE_VERSION from LLVM to ROCm
  CMakeLists.txt
  packaging/hipify-clang.txt
Owners: @searlmc1, @emankov

Update documentation requirements
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 2 - Driver - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 3 - Driver - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation
