Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][#2402] Warn users for non-self-contained header hipification in isolation - Part 2
  src/LLVMCompat.cpp
  src/LLVMCompat.h
  src/main.cpp
Owners: @searlmc1, @emankov

ROCM-1254 - add cooperative_groups::reduce() support
  src/CUDA2HIP.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][optimization] Minimize `hipify-perl` footprint by `18%` via mapping helper function (#2446)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 1 - `Functions`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 1 - `Functions` (#2451)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 22.1.2` is the latest stable supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.2` is the latest stable supported version (#2452)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2453)
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/sphinx/requirements.txt
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][fix] Fix CUDA kernel launch legacy hipification
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  tests/unit_tests/kernel_launch/complex_kernel_launches.cu
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][fix] Fix CUDA kernel launch legacy hipification (#2455)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  tests/unit_tests/kernel_launch/complex_kernel_launches.cu
Owners: @searlmc1, @emankov

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2457)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  tests/unit_tests/kernel_launch/complex_kernel_launches.cu
Owners: @searlmc1, @emankov

[HIPIFY][fix] LLVM upstream preparations - Part 4 - namespace usage revision
  src/CUDA2HIP_Doc.cpp
  src/HipifyAction.cpp
  src/HipifyAction.h
  src/LLVMCompat.cpp
  src/LLVMCompat.h
  src/LocalHeader.cpp
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 2 - `Functions` - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][Runtime] `CUDA 13.1.0` support - Step 2 - `Runtime` - Part 2 - `Functions` - final (#2468)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2470)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/sphinx/requirements.txt
  src/CUDA2HIP.h
  src/CUDA2HIP_Runtime_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][cuFile][Windows][doc][tests] Update `Windows` testing documentation
  docs/building/build-hipify-clang-windows.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][cuFile][Windows][doc][tests] Update `Windows` testing documentation (#2473)
  docs/building/build-hipify-clang-windows.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][cuFile][Windows][doc][tests] Update `Windows` testing documentation (#2473) (#2474)
  docs/building/build-hipify-clang-windows.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13.1][BLASLt] `CUDA 13.1.0` support - Step 3 - `BLASLt` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Doc.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][BLASLt] `CUDA 13.1.0` support - Step 3 - `BLASLt` - Part 1 - `Data Types` (#2477)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Doc.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2478)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Doc.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#1776][Perl][fix] Fix and refactor `host function AST parsing`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][#1776][Perl][fix] Fix and refactor `host function AST parsing` (#2481)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][BLASLt] `CUDA 13.1.0` support - Step 3 - `BLASLt` - Part 2 - `Functions` - final
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][BLASLt] `CUDA 13.1.0` support - Step 3 - `BLASLt` - Part 2 - `Functions` - final (#2482)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2483)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][FFT] `CUDA 13.1.0` support - Step 4 - `cuFFT Device` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_FFT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][FFT] `CUDA 13.1.0` support - Step 4 - `cuFFT Device` - Part 1 - `Data Types` (#2484)
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_FFT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support (#2429)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][fix] Stop hipifying in `C/C++ comments` and `lit test directives`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][fix] Stop hipifying in `C/C++ comments` and `lit test directives` (#2486)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][FFT] `CUDA 13.1.0` support - Step 4 - `cuFFT Device` - Part 2 - `Functions` - final
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][FFT] `CUDA 13.1.0` support - Step 4 - `cuFFT Device` - Part 2 - `Functions` - final (#2487)
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][merge] merge `amd-develop` into `amd-staging` (#2488)
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][SPARSE] `CUDA 13.1.0` support - Step 5 - `cuSPARSE`
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][SPARSE] `CUDA 13.1.0` support - Step 5 - `cuSPARSE` (#2489)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][SPARSE] `CUDA 13.1.1` support - `cuSPARSE`
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][SPARSE] `CUDA 13.1.1` support - `cuSPARSE` (#2501)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13.1][SPARSE] `CUDA 13.1.1` support - `cuSPARSE` (#2501) (#2502)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 22.1.3` is the latest stable supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov
