Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][tests][fix] Fix the `headers_test_09_rocrand.cu` test
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_09_rocrand_before_13000.cu
Owners: @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13][tests][fix] Fix the `headers_test_09_12000.cu` test
  tests/unit_tests/headers/headers_test_09_12000.cu
Owners: @searlmc1, @emankov

Update docs/how-to/hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update docs/how-to/hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] Update hipify-clang.rst (on behalf of randyh62)
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 11 - Runtime - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 12 - Runtime - Data Types - enum `cudaAtomicOperation`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 13 - Runtime - Data Types - enum `cudaAtomicOperationCapability`
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] `cuDNN 9.13.0` is the latest supported `cuDNN` version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 14 - Runtime - Data Types - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.1` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][fix] Fix indentation typos
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update documentation requirements for HIPIFY
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update requirements.in
  docs/sphinx/requirements.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update documentation requirements for HIPIFY
  docs/sphinx/requirements.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][tests][fix] Fix and refactor the `simple_mechs.cu` test
  tests/unit_tests/graph/simple_mechs.cu
Owners: @searlmc1, @emankov

Update documentation requirements for HIPIFY
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 15 - Runtime - Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 16 - Runtime - Functions - Log Management
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 17 - Runtime - Functions - Graph - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/graph/simple_mechs.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 18 - Runtime - Functions - Graph - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 19 - Sync `Driver` and `Runtime` APIs in `HIPIFY` - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 20 - Sync `Driver` and `Runtime` APIs in `HIPIFY` - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.1] Remove the `HIP_EXPERIMENTAL` mark
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2073][feature] CUDA version Detection - Part 1
  src/HipifyAction.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 21 - `cuBLAS(Lt)?` support
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 22 - Library types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 23 - `FFT`
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Device][fix] The missing vector functions and types - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR][7.0][fix] Revise and fix
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR] `cuTensor 2.3.0.0` support - Part 1 - Data types
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.2` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TENSOR] `cuTensor 2.3.0.0` support - Part 1 - Functions - final
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR][doc] `cuTensor 2.3.1.0` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TENSOR][doc] `cuDNN 9.13.1` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13][SOLVER] CUDA 13.0.0 support - Step 24 - `cuSOLVER` - Part 1
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov
