Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

Update ref for theRock project
  .github/workflows/build_portable_linux_artifacts.yml
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Enable Linux rock ci psdb for staging
  .github/workflows/build_linux_jax_wheels.yml
  .github/workflows/build_native_linux_packages.yml
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_portable_linux_pytorch_wheels.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/build_windows_pytorch_wheels.yml
  .github/workflows/ci.yml
  .github/workflows/ci_asan.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_nightly.yml
  .github/workflows/ci_weekly.yml
  .github/workflows/ci_windows.yml
  .github/workflows/copy_release.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_ci.yml
  .github/workflows/pr-request-release-note.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
  .github/workflows/test_linux_jax_wheels.yml
  .github/workflows/test_pytorch_wheels.yml
  .github/workflows/test_sanity_check.yml
  .github/workflows/therock_test_harness.yml
Owners: @searlmc1, @emankov

fix hipify submodule sha in rock manifest
  .github/workflows/build_portable_linux_artifacts.yml
Owners: @searlmc1, @emankov

[HIPIFY][test][infra] Enable `Linux` Rock CI PSDB for `amd-staging` (#2294)
  .github/workflows/build_linux_jax_wheels.yml
  .github/workflows/build_native_linux_packages.yml
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_portable_linux_pytorch_wheels.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/build_windows_pytorch_wheels.yml
  .github/workflows/ci.yml
  .github/workflows/ci_asan.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_nightly.yml
  .github/workflows/ci_weekly.yml
  .github/workflows/ci_windows.yml
  .github/workflows/copy_release.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_ci.yml
  .github/workflows/pr-request-release-note.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
  .github/workflows/test_linux_jax_wheels.yml
  .github/workflows/test_pytorch_wheels.yml
  .github/workflows/test_sanity_check.yml
  .github/workflows/therock_test_harness.yml
Owners: @searlmc1, @emankov

[HIPIFY][DNN][doc] `cuDNN 9.16.0` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Driver] `CUDA 13.1.0` support - Step 1 - `Driver` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR][doc] `cuTensor 2.4.1.0` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update rocm-docs-core to 1.31.3
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][fix] Stack Overflow possible Issues - Part 3 - `Runtime`
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][DNN] `cuDNN 9.17.0` is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CAFFE2] Total removal
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_CAFFE2_API_functions.cpp
  src/CUDA2HIP_CAFFE2_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/libraries/CAFFE2/caffe2/core/common_cudnn.h
  tests/unit_tests/libraries/CAFFE2/caffe2/operators/spatial_batch_norm_op.h
  tests/unit_tests/libraries/CAFFE2/caffe2_01.cu
  tests/unit_tests/libraries/CAFFE2/caffe2_02.cu
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 4 - `Driver`
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] Remove duplicates from maps
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 5 - `DNN`
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Driver] `CUDA 13.1.0` support - Step 1 - `Driver` - Part 2 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][ROCM-1367][fix] Use host target in Init() to avoid CUDA 12.x ptxas/nvlink errors
  src/main.cpp
Owners: @searlmc1, @emankov

Fixed Windows min/max and namespace prefix
  src/HeaderInjection.cpp
  src/LocalHeader.cpp
  src/StderrCapture.h
Owners: @searlmc1, @emankov

Add mutex to StderrCapture for thread-safe capture
  src/StderrCapture.h
Owners: @searlmc1, @emankov

[HIPIFY][DNN] `cuDNN 9.18.0` is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] LLVM upstream preparations - Part 3 - Uninitialized variables
  src/CUDA2HIP_Scripting.h
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 5 - `Device`
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 6 - `Complex`
  src/CUDA2HIP_Complex_API_functions.cpp
  src/CUDA2HIP_Complex_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][DNN][doc] `cuDNN 9.18.1` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 7 - `RTC`
  src/CUDA2HIP_RTC_API_functions.cpp
  src/CUDA2HIP_RTC_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13.1][Driver] `CUDA 13.1.0` support - Step 1 - `Driver` - Part 3 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Infra] Enable Windows CI and update Linux CI for amd-staging
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_windows.yml
  .github/workflows/rockci-hipify-amd-staging.yml
  .github/workflows/setup.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_sanity_check.yml
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Enable Windows CI and update Linux CI for amd-mainline
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_windows.yml
  .github/workflows/rockci-hipify-amd-mainline.yml
  .github/workflows/setup.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_sanity_check.yml
Owners: @searlmc1, @emankov

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 8 - `RAND`
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Enable Windows CI and update Linux CI for amd-staging (#2342)
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_windows.yml
  .github/workflows/rockci-hipify-amd-staging.yml
  .github/workflows/setup.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_sanity_check.yml
Owners: @searlmc1, @emankov

[HIPIFY][Infra] Enable Windows CI and update Linux CI for amd-mainline (#2343)
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_windows.yml
  .github/workflows/rockci-hipify-amd-mainline.yml
  .github/workflows/setup.yml
  .github/workflows/test_benchmarks.yml
  .github/workflows/test_component.yml
  .github/workflows/test_sanity_check.yml
Owners: @searlmc1, @emankov

[HIPIFY][FILE] Added `Copyright Notice`
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][FILE][doc][fix] Generate `File` `CUDA2HIP` documentation and `hipify-perl`
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix] `Stack Overflow` possible Issues - Part 9 - `FFT`
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][TENSOR] `cuTensor 2.5.0.0` support
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE] Cleanup
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][FILE] Introduced `cuFile` versioning
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE][#2174][#2362][fix] Fix typo: `CUDA_DRV_ERR` -> `CU_FILE_CUDA_ERR`
  bin/hipify-perl
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][FILE][#2174][#2362][fix] Fix typo: cuFule_version -> cuFile_version
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

[HIPIFY][FILE] Finished with the correct `cuFile` versioning
  docs/reference/tables/cuFile_API_supported_by_HIP.md
  src/CUDA2HIP_FILE_API_functions.cpp
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][FILE] Adding cuFile synthetic test - Part 1 - Types
  tests/unit_tests/synthetic/libraries/cufile2hipfile.cu
Owners: @searlmc1, @emankov
