Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` (#2556)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 2 (#2557)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 3
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 3 (#2559)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` (#2556)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][BLAS][7.11][sync] Sync with TheROC 7.11.0 - Step 3 - cuBLAS
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][BLAS][7.11][sync] Sync with TheROC 7.11.0 - Step 3 - cuBLAS
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][BLAS][7.11][sync] Updated cublas2rocblas.cu and cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 4 - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` - Part 4 - final (#2561)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][DNN] Support for `cuDNN 9.22.0` - Step 1
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add FuncArgCasts matchers to inject computeType for cublasCsyrkEx, cublasCherkEx and update ROC CUDA2HIP documentation
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN] Support for `cuDNN 9.22.0` - Step 1 (#2562)
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 1 - Introductory
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 1 - Introductory (#2564)
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][BLAS][7.10][sync] Sync with TheROC 7.10.0 - Step 1 - cuBLAS
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][BLAS][7.10][sync] Sync with TheROC 7.10.0 - Step 1 - cuBLAS
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Add FuncArgCasts matchers to inject computeType for cublasCsyrkEx, cublasCherkEx and update ROC CUDA2HIP documentation
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][BLAS][7.10][sync] Updated cublas2rocblas.cu and cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types` (#2556) (#2560)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Functions`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Fix version constant: HIP_7110 -> HIP_7100 (APIs introduced in TheROC 7.10) and ROC, BLAS CUDA2HIP
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Functions` (#2566)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][BLAS][7.10][sync] Sync with `TheROC 7.10.0` - Step 1 - `cuBLAS` (#2565)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/HipifyAction.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update rocm-docs-core to 1.33.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA][LLVM][sync] `hipify-clang` now supports `CUDA <= 13.2.0` if built against `LLVM 23.0.0git`
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
  src/HipifyAction.cpp
  src/LLVMCompat.cpp
  src/LLVMCompat.h
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA][LLVM][sync] `hipify-clang` now supports `CUDA <= 13.2.0` if built against `LLVM 23.0.0git` (#2567)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
  src/HipifyAction.cpp
  src/LLVMCompat.cpp
  src/LLVMCompat.h
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 2 - `CUDA2HIP` generation
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature] `cuSPARSELt` support - Step 2 - `CUDA2HIP` generation (#2568)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2565][tests][fix] Fix tests failed against `CUDA < 8000`
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_8000.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_8000.cu
Owners: @searlmc1, @emankov

[HIPIFY][#2565][tests][fix] Fix tests failed against `CUDA < 8000` (#2569)
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_8000.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_8000.cu
Owners: @searlmc1, @emankov

[macos] CMake build fixes for Darwin
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][SPARSE][7.10][sync] Sync with TheROC 7.10.0 - Step 2 - cuSPARSE
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature][partial] `cuSPARSELt` support - Step 3 - Partial support for `cuSPARSELt v.0.0.1`
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#2563][SPARSELt][feature][partial] `cuSPARSELt` support - Step 3 - Partial support for `cuSPARSELt v.0.0.1` (#2571)
  bin/hipify-perl
  docs/reference/tables/CUSPARSELT_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSELT_API_functions.cpp
  src/CUDA2HIP_SPARSELT_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update rocm-docs-core to 1.33.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][FFT][7.10][sync] Sync with TheROC 7.10.0 - Step 2 - FFT
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][FFT][7.10][sync] Sync with TheROC 7.10.0 - Step 2 - FFT (#2573)
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update rocm-docs-core to 1.35.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov
