Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][CUDA 13.2][SPARSE] `CUDA 13.2.1` support - Step 2 - `cuSPARSE` - final (#2534)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][fix] Refactor and partially fix `hip_runtime.h` insertion logic in `hipify-perl`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][fix] Refactor and partially fix `hip_runtime.h` insertion logic in `hipify-perl` (#2535)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][Perl][#1776][#2535][fix] Fix header duplication in the hipified file
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][Perl][#1776][#2535][fix] Fix header duplication in the hipified file (#2536)
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Owners: @searlmc1, @emankov

[HIPIFY][HIP][7.12][Meta][ROCM-20351][Sync] `CU_DEVICE_ATTRIBUTE_DMA_BUF_SUPPORTED` support (#2537)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][RT][7.12][sync] Sync with `TheROC 7.12.0` - Step 1 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][#837][#2062][#2415] Add multi-declaration gaurd check for e_insert_new_argument - Part 2
  src/HipifyAction.cpp
  src/HipifyAction.h
  tests/unit_tests/synthetic/libraries/cudnn_insert_new_arg.cu
Owners: @searlmc1, @emankov

[HIPIFY] Fix InsertedVarCounter to use CompoundStmt scope key and add multi-function tests
  src/HipifyAction.cpp
  src/HipifyAction.h
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cudnn_insert_new_arg.cu
  tests/unit_tests/synthetic/libraries/dummy_cudnn_call_header.h
Owners: @searlmc1, @emankov

[HIPIFY] Use std::pair for insertion (name:warning), and fix InsertedVarCounter per file counter
  src/HipifyAction.cpp
  src/HipifyAction.h
Owners: @searlmc1, @emankov

[HIPIFY] Fix std::tuple for FileID, AST traverse, and ToDo comments
  src/HipifyAction.cpp
  src/HipifyAction.h
  tests/unit_tests/synthetic/libraries/cudnn_insert_new_arg.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][RT][7.12][sync] Sync with `TheROC 7.12.0` - Step 1 - Data Types (#2539)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][RT][7.12][sync] Sync with `TheROC 7.12.0` - Step 2 - Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][RT][7.12][sync] Sync with `TheROC 7.12.0` - Step 2 - Functions (#2540)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 22.1.5` is the latest stable supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.5` is the latest stable supported version (#2541)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][Infra][Multi-Arch] CI setup for PSDBs on amd-staging
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/multi_arch_build_native_linux_packages.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_build_portable_linux_artifacts.yml
  .github/workflows/multi_arch_build_tarballs.yml
  .github/workflows/multi_arch_build_windows.yml
  .github/workflows/multi_arch_build_windows_artifacts.yml
  .github/workflows/multi_arch_ci_asan.yml
  .github/workflows/multi_arch_ci_linux.yml
  .github/workflows/multi_arch_ci_windows.yml
  .github/workflows/multi_arch_release.yml
  .github/workflows/multi_arch_release_linux.yml
  .github/workflows/rockci_hipify_multi_arch_amd_staging.yml
  .github/workflows/setup_multi_arch.yml
  .github/workflows/test_aomp_smoke.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_artifacts_structure.yml
  .github/workflows/test_component.yml
Owners: @searlmc1, @emankov

[HIPIFY][Infra][Multi-Arch] CI setup for PSDBs on amd-staging (#2542)
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/multi_arch_build_native_linux_packages.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_build_portable_linux_artifacts.yml
  .github/workflows/multi_arch_build_tarballs.yml
  .github/workflows/multi_arch_build_windows.yml
  .github/workflows/multi_arch_build_windows_artifacts.yml
  .github/workflows/multi_arch_ci_asan.yml
  .github/workflows/multi_arch_ci_linux.yml
  .github/workflows/multi_arch_ci_windows.yml
  .github/workflows/multi_arch_release.yml
  .github/workflows/multi_arch_release_linux.yml
  .github/workflows/rockci_hipify_multi_arch_amd_staging.yml
  .github/workflows/setup_multi_arch.yml
  .github/workflows/test_aomp_smoke.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_artifacts_structure.yml
  .github/workflows/test_component.yml
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][BLASLt][7.12][sync] Sync with `TheROC 7.12.0` - Step 3 - `cuBLASLt`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][BLASLt][7.12][sync] Sync with `TheROC 7.12.0` - Step 3 - `cuBLASLt` (#2545)
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][test][fix] Fix the test `complex_kernel_launches.cu` failed on `CUDA < 9.2`
  tests/unit_tests/kernel_launch/complex_kernel_launches.cu
Owners: @searlmc1, @emankov

[HIPIFY][test][fix] Fix the test `complex_kernel_launches.cu` failed on `CUDA < 9.2` (#2546)
  tests/unit_tests/kernel_launch/complex_kernel_launches.cu
Owners: @searlmc1, @emankov

[HIPIFY][test][2545][BLASLt][fix] Fix the test `cublaslt2hipblaslt` failed on `CUDA 11.3.0` only
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Owners: @searlmc1, @emankov

[HIPIFY][test][2545][BLASLt][fix] Fix the test `cublaslt2hipblaslt` failed on `CUDA 11.3.0` only (#2548)
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Owners: @searlmc1, @emankov

[HIPIFY][TheROC][DNN][7.12][sync] Sync with `TheROC 7.12.0` - Step 4 - `cuDNN` (#2545)
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][DNN][7.12][sync] Sync with `TheROC 7.12.0` - Step 4 - `cuDNN` (#2545) (#2549)
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

docs(hipify): add doc for installing prebuilt packages
  docs/index.rst
  docs/install.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

fix toc
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][FFT][7.11][sync] Sync with `TheROC 7.11.0` - Step 1 - `cuFFTw`
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][FFT][7.11][sync] Sync with `TheROC 7.11.0` - Step 1 - `cuFFTw` (#2551)
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] 3rd party SW versions update
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] 3rd party SW versions update (#2552)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][SPARSE][7.11][sync] Sync with `TheROC 7.11.0` - Step 2 - `cuSPARSE`
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TheROC][SPARSE][7.11][sync] Sync with `TheROC 7.11.0` - Step 2 - `cuSPARSE` (#2553)
  bin/hipify-perl
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

fix copy-paste error
  docs/install.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][docs] add doc for installing prebuilt packages (#2550)
  docs/index.rst
  docs/install.rst
  docs/sphinx/_toc.yml.in
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.6` is the latest stable supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc] `LLVM 22.1.6` is the latest stable supported version (#2555)
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][TheROC][HIP][7.13][sync] Sync with `TheROC 7.13.0` - Step 1 - `HIP` - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation
