Repository ROCm/HIPIFY, changes with the owners that .github/CODEOWNERS names for each.
All owners: @searlmc1, @emankov, @ROCm/rocm-documentation

.github/CODEOWNERS:

* @searlmc1 @emankov

# Documentation files
docs/ @ROCm/rocm-documentation @searlmc1 @emankov
*.md @ROCm/rocm-documentation @searlmc1 @emankov
*.rst @ROCm/rocm-documentation @searlmc1 @emankov
.readthedocs.yaml @ROCm/rocm-documentation @searlmc1 @emankov

[HIPIFY][7.2][HIP] `ROCm HIP 7.2` is the latest supported version
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][fix][tests] Fix manual conflict merge typo in the `runtime_functions.cu` test
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov

Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

Update rocm-docs-core to 1.30.0
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][doc][Windows] `Visual Studio 2026` is supported
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][tests] Cleanup - Step 1
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_functions_before_13000.cu
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov

Remove "get version" calls
  src/CUDA2HIP_FILE_API_functions.cpp
Owners: @searlmc1, @emankov

Update HIPIFY to handle hipFile and rocFile
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
  src/HipifyAction.cpp
  src/HipifyAction.h
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov

Remove rocFile interface
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

Remove comments
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

HIP_0 --> HIP_7000 in hipAPIChangedVersions
  src/CUDA2HIP_FILE_API_functions.cpp
Owners: @searlmc1, @emankov

Fix sections in types and functions
  src/CUDA2HIP_FILE_API_functions.cpp
  src/CUDA2HIP_FILE_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][DNN] `cuDNN 9.15.0` is the latest supported version
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][Library] `CUDA 13.0.2` support - Step 1 - `Library` types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][7.2][FFTw] Sync with ROCm HIP 7.2 fftw - Functions
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftw2hipfftw.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][doc] `LLVM 21.1.7` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][6.0][#2237][fix] Added the missing `cudaMemoryTypeUnregistered` -> `hipMemoryTypeUnregistered` hipification
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_enums.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR] `cuTensor 2.4.0.0` support
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][TENSOR][fix] `cuTensor 2.4.0.0` support - fix versioning
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][DNN][doc] `cuDNN 9.15.1` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][7.2] Remove the `HIP_EXPERIMENTAL` mark
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_TENSOR_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][CUDA 13][BLASLt] `CUDA 13.0.2` support - Step 2 - `BLASLt` - Part 1 - `Data Types`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Merge pull request #2200 from ROCm/upstream_merge_202511211506
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][8.0][SWDEV-563504][RT] Support for a couple of newly appeared `fabric`-related data types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Enable the PSDB on HIPIFY - In progress
  build_linux_jax_wheels.yml
  build_native_linux_packages.yml
  build_portable_linux_artifacts.yml
  build_portable_linux_python_packages.yml
  build_portable_linux_pytorch_wheels.yml
  build_windows_artifacts.yml
  build_windows_python_packages.yml
  build_windows_pytorch_wheels.yml
  ci.yml
  ci_asan.yml
  ci_linux.yml
  ci_nightly.yml
  ci_weekly.yml
  ci_windows.yml
  copy_release.yml
  multi_arch_build_portable_linux.yml
  multi_arch_ci.yml
  pr-request-release-note.yml
  pre-commit.yml
  publish_build_manylinux_rccl_x86_64.yml
  publish_build_manylinux_x86_64.yml
  publish_dockerfile.yml
  publish_no_rocm_image_ubuntu24_04.yml
  release_native_linux_packages.yml
  release_portable_linux_packages.yml
  release_portable_linux_pytorch_wheels.yml
  release_windows_packages.yml
  release_windows_pytorch_wheels.yml
  setup.yml
  test_artifacts.yml
  test_component.yml
  test_jax_dockerfile.yml
  test_linux_jax_wheels.yml
  test_pytorch_wheels.yml
  test_sanity_check.yml
  therock_test_harness.yml
Owners: @searlmc1, @emankov

[HIPIFY][clang][compatibility][fix] Conditionally include the `<optional>` header
  src/Statistics.cpp
Owners: @searlmc1, @emankov

[HIPIFY] Add header injection fallback for local headers hipification
  src/HeaderInjection.cpp
  src/HeaderInjection.h
  src/LocalHeader.cpp
  src/StderrCapture.h
  src/main.cpp
  tests/unit_tests/headers/local_headers/injection_has_cmath.h
  tests/unit_tests/headers/local_headers/injection_helper.h
  tests/unit_tests/headers/local_headers/injection_inner.h
  tests/unit_tests/headers/local_headers/injection_multi.cu
  tests/unit_tests/headers/local_headers/injection_no_duplicate.cu
  tests/unit_tests/headers/local_headers/injection_outer.h
  tests/unit_tests/headers/local_headers/injection_pragma_header.h
  tests/unit_tests/headers/local_headers/injection_pragma_once.cu
  tests/unit_tests/headers/local_headers/injection_recursive.cu
  tests/unit_tests/headers/local_headers/injection_test.cu
  tests/unit_tests/headers/local_headers/injection_uses_cmath.h
  tests/unit_tests/headers/local_headers/vector_math.h
Owners: @searlmc1, @emankov

[HIPIFY][doc] `LLVM 21.1.8` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][CUDA 13][BLASLt] `CUDA 13.0.2` support - Step 2 - `BLASLt` - Part 2 - `Functions`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

Update the docker image, AWS role, fix HIPIFY SHA
  .github/workflows/build_linux_jax_wheels.yml
  .github/workflows/build_native_linux_packages.yml
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_portable_linux_pytorch_wheels.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/build_windows_pytorch_wheels.yml
  .github/workflows/ci.yml
  .github/workflows/ci_asan.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_nightly.yml
  .github/workflows/ci_weekly.yml
  .github/workflows/ci_windows.yml
  .github/workflows/copy_release.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_ci.yml
  .github/workflows/pr-request-release-note.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
  .github/workflows/test_linux_jax_wheels.yml
  .github/workflows/test_pytorch_wheels.yml
  .github/workflows/test_sanity_check.yml
  .github/workflows/therock_test_harness.yml
Owners: @searlmc1, @emankov

Cleanup of the unused action script
  build_linux_jax_wheels.yml
  build_native_linux_packages.yml
  build_portable_linux_artifacts.yml
  build_portable_linux_python_packages.yml
  build_portable_linux_pytorch_wheels.yml
  build_windows_artifacts.yml
  build_windows_python_packages.yml
  build_windows_pytorch_wheels.yml
  ci.yml
  ci_asan.yml
  ci_linux.yml
  ci_nightly.yml
  ci_weekly.yml
  ci_windows.yml
  copy_release.yml
  multi_arch_build_portable_linux.yml
  multi_arch_ci.yml
  pr-request-release-note.yml
  pre-commit.yml
  publish_build_manylinux_rccl_x86_64.yml
  publish_build_manylinux_x86_64.yml
  publish_dockerfile.yml
  publish_no_rocm_image_ubuntu24_04.yml
  release_native_linux_packages.yml
  release_portable_linux_packages.yml
  release_portable_linux_pytorch_wheels.yml
  release_windows_packages.yml
  release_windows_pytorch_wheels.yml
  setup.yml
  test_artifacts.yml
  test_component.yml
  test_jax_dockerfile.yml
  test_linux_jax_wheels.yml
  test_pytorch_wheels.yml
  test_sanity_check.yml
  therock_test_harness.yml
Owners: @searlmc1, @emankov

[HIPIFY][CUDA 13][BLAS] `CUDA 13.0.2` support - Step 3 - `BLAS` - Part 1
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Owners: @searlmc1, @emankov, @ROCm/rocm-documentation

[HIPIFY][build][Windows][fix] Fixing `D9025` compiler warning
  CMakeLists.txt
Owners: @searlmc1, @emankov

[HIPIFY][fix] Stack Overflow possible Issues - Part 1 - `BLAS`, `Tensor`
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Owners: @searlmc1, @emankov

fix hipify submodule sha in rock manifest
  .github/workflows/build_portable_linux_artifacts.yml
Owners: @searlmc1, @emankov

Update rocm-docs-core to 1.31.2
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Owners: @ROCm/rocm-documentation, @searlmc1, @emankov

[HIPIFY][test][infra] Enable `Linux` Rock CI PSDB for `amd-mainline`
  .github/workflows/build_linux_jax_wheels.yml
  .github/workflows/build_native_linux_packages.yml
  .github/workflows/build_portable_linux_artifacts.yml
  .github/workflows/build_portable_linux_python_packages.yml
  .github/workflows/build_portable_linux_pytorch_wheels.yml
  .github/workflows/build_windows_artifacts.yml
  .github/workflows/build_windows_python_packages.yml
  .github/workflows/build_windows_pytorch_wheels.yml
  .github/workflows/ci.yml
  .github/workflows/ci_asan.yml
  .github/workflows/ci_linux.yml
  .github/workflows/ci_nightly.yml
  .github/workflows/ci_weekly.yml
  .github/workflows/ci_windows.yml
  .github/workflows/copy_release.yml
  .github/workflows/multi_arch_build_portable_linux.yml
  .github/workflows/multi_arch_ci.yml
  .github/workflows/pr-request-release-note.yml
  .github/workflows/pre-commit.yml
  .github/workflows/setup.yml
  .github/workflows/test_artifacts.yml
  .github/workflows/test_component.yml
  .github/workflows/test_jax_dockerfile.yml
  .github/workflows/test_linux_jax_wheels.yml
  .github/workflows/test_pytorch_wheels.yml
  .github/workflows/test_sanity_check.yml
  .github/workflows/therock_test_harness.yml
Owners: @searlmc1, @emankov

[HIPIFY][fix] Stack Overflow possible Issues - Part 2 - `SPARSE`, `SOLVER`
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] `LLVM upstream preparations` - Part 1 - Header files usage revision
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_Python.cpp
  src/HipifyAction.cpp
  src/LLVMCompat.cpp
  src/LocalHeader.cpp
  src/Statistics.cpp
  src/main.cpp
Owners: @searlmc1, @emankov

[HIPIFY][fix] `LLVM upstream preparations` - Part 2 - Uninitialized variables
  src/CUDA2HIP_Doc.cpp
  src/HipifyAction.h
  src/ReplacementsFrontendActionFactory.h
  src/Statistics.h
Owners: @searlmc1, @emankov
