Repository ROCm/HIPIFY, pull requests merged in 2020-04, with the labels that each got.

#91 [HIPIFY][doc] Fix links to HIP docs
  README.md
Labels: documentation, fix

#95 [HIPIFY][SPARSE] sync with hipSPARSE's "csrgeam and csrgeam2" (#101)
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync

#96 [HIPIFY][SPARSE] sync with hipSPARSE's #102 and #103
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: SPARSE, perl, sync

#97 [HIPIFY][tests][SPARSE] Update cuSPARSE_12.cu test
  tests/unit_tests/libraries/cuSPARSE/cuSPARSE_12.cu
Labels: SPARSE, fix, test

#98 [HIPIFY][doc] Update README.md
  README.md
Labels: documentation

#99 [HIPIFY][BLAS] sync with hipBLAS's #146 "Matching rocBLAS 3.0 Functionality" (#99)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS

#100 [HIPIFY][BLAS] Sync with hipBLAS's #169 "Matching rocBLAS 3.1" (#100)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync

#101 Update README.md
  README.md
Labels: documentation

#102 [HIPIFY][HIP] Sync with HIP: CUDA_MEMCPY3D/cuMemcpy3D(Async) support
  bin/hipify-perl
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: HIP, perl, sync

#103 [HIPIFY][BLAS] Sync with hipBLAS's #176 "Matching rocBLAS 3.3 - Part 1" (#103)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync

#104 [HIPIFY][BLAS] Sync with hipBLAS's #175 "rocSOLVER support" (#104)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync

#105 [HIPIFY][BLAS] Sync with hipBLAS's #178 "Matching rocBLAS 3.3 - Part 2" (#105)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync

#106 [HIPIFY][BLAS] Sync with hipBLAS's #179 "Matching rocBLAS 3.3 - Part 3 (Final)" (#106)
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync

#107 [HIPIFY][BLAS] Add syr2_v2 functions support
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: BLAS, perl, sync
