Repository ROCm/HIPIFY, pull requests merged in 2020-11, with the labels that each got.

#215 [HIPIFY][SPARSE] Sync with CUDA 11.1 Update 1 functions only
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: SPARSE, sync

#216 [HIPIFY][SPARSE] Sync with CUDA 11.1 Update 1 data types only
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: SPARSE, sync

#217 [HIPIFY][DNN] Add DNN API versioning support
  src/Statistics.cpp
  src/Statistics.h
Labels: DNN, feature

#218 [HIPIFY][DNN] Sync with latest 8.0.4 cuDNN API Data Types (Part 1)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_types.cpp
Labels: DNN, sync

#220 [HIPIFY][DNN] Sync with latest 8.0.5 cuDNN API Data Types (Part 2)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_types.cpp
Labels: DNN, sync

#221 [HIPIFY][DNN] Sync with latest 8.0.5 cuDNN API Data Types (Part 3)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_types.cpp
Labels: DNN, sync

#224 [HIPIFY][DNN] Fix typos
  src/CUDA2HIP_DNN_API_types.cpp
Labels: fix

#225 [HIPIFY][DNN] Sync with latest 8.0.5 cuDNN API Functions (Part 1)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: DNN, sync

#226 [HIPIFY][DNN] Sync with latest 8.0.5 cuDNN API Functions (Part 2)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: DNN, sync

#227 [HIPIFY][DNN] Sync with latest 8.0.5 cuDNN API Functions (Part 3)
  bin/hipify-perl
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: DNN, sync

#229 [HIPIFY] Standardizing Package name
  CMakeLists.txt
  packaging/cpack_project_config.txt
  packaging/hipify-clang.txt
Labels: build, package

#230 [HIPIFY][SPARSE][#229] Sync with latest hipSPARSE
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: SPARSE, sync

#231 [HIPIFY][BLAS] Sync with the latest hipBLAS
  bin/hipify-perl
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: BLAS, sync

#232 [HIPIFY][HIP] Sync with the latest ROCclr 3.9.0
  bin/hipify-perl
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: HIP, sync

#233 [HIPIFY][doc] README.md update
  README.md
Labels: documentation
