Repository ROCm/HIPIFY, pull requests merged in 2020-06, with the labels that each got.

#122 [HIPIFY][tests][fix] Set execute permission for run_test.sh
  tests/run_test.sh
Labels: fix, test

#123 Add RPM exclution for HIP path
  packaging/hipify-clang.txt
Labels: fix, package

#124 [HIPIFY][#118] Teach hipify-perl to warn about unsupported CUDA APIs
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#125 [HIPIFY][#118] Update hipify-perl according to #124
  bin/hipify-perl
Labels: fix, perl

#127 [HIPIFY][#92][#126] Fix clang internal includes
  src/main.cpp
Labels: feature, fix

#133 [HIPIFY][doc] CUDA 11.0 is supported*
  README.md
Labels: documentation, test

#135 [HIPIFY][tests][#130] Fix CUB tests failed against CUDA 11.0
  tests/lit.cfg
Labels: NVIDIA, fix, test

#136 [HIPIFY][tests][#132] Exclude cudnn_convolution_forward.cu test if CUDA 11.0 and higher
  tests/lit.cfg
Labels: NVIDIA, fix, test

#137 [HIPIFY][tests][#131] Exclude cuSparse 01, 02, and 12 tests if CUDA 11.0 and higher
  tests/lit.cfg
Labels: NVIDIA, fix, test

#142 [HIPIFY] CUDA 11.0 Driver API data types support
  bin/hipify-perl
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: NVIDIA, sync

#143 [HIPIFY] CUDA 11.0 Driver API support
  bin/hipify-perl
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: NVIDIA, sync
