Repository ROCm/HIPIFY, pull requests merged in 2020-08, with the labels that each got.

#164 [HIPIFY][doc][tests] Revise functionality with the former LLVM versions
  README.md
  tests/lit.cfg
Labels: documentation, test

#165 [HIPIFY][perl] Added redo if to the generated PERL
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#166 [HIPIFY][perl] Update due to #165
  bin/hipify-perl
Labels: perl, sync

#168 [HIPIFY][perl][#167] Fix wrong CUDA API identifier name in warnings and statistics calculations
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#170 [HIPIFY] Sync cuFFT with hipFFT
  bin/hipify-perl
  src/CUDA2HIP_FFT_API_functions.cpp
Labels: FFT, sync

#171 [HIPIFY][doc] CUDA 11.0 Update 1 is supported
  README.md
Labels: documentation

#173 [HIPIFY] Add initial support of CUDA deprecated and removed APIs' versioning
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_CAFFE2_API_functions.cpp
  src/CUDA2HIP_CAFFE2_API_types.cpp
  src/CUDA2HIP_CUB_API_types.cpp
  src/CUDA2HIP_Complex_API_functions.cpp
  src/CUDA2HIP_Complex_API_types.cpp
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: feature

#174 [HIPIFY][#172] Introduce `API Section` for all APIs and libs
  src/CUDA2HIP.cpp
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_CAFFE2_API_functions.cpp
  src/CUDA2HIP_CAFFE2_API_types.cpp
  src/CUDA2HIP_CUB_API_types.cpp
  src/CUDA2HIP_Complex_API_functions.cpp
  src/CUDA2HIP_Complex_API_types.cpp
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/Statistics.h
Labels: feature

#175 [HIPIFY][FFT] Fix API types
  src/CUDA2HIP_FFT_API_types.cpp
Labels: fix

#176 [HIPIFY] Fix APIs with missing sections
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: fix

#177 [HIPIFY][SPARSE] Add Sections, Versions: A|D|R
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: SPARSE, feature

#179 [HIPIFY][SPARSE] Data types: add Sections, Versions: A|D|R
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: SPARSE, feature, sync

#180 [HIPIFY][SPARSE] Sync with CUDA 11.0 Update 1
  bin/hipify-perl
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: SPARSE, sync
