Repository ROCm/HIPIFY, pull requests merged in 2021-04, with the labels that each got.

#311 [HIPIFY][#304] Add warning for StreamWaitValue32(64) and StreamWriteValue32(64) functions
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
Labels: enhancement, feature

#312 [HIPIFY][perl] Minor enhancements
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: enhancement, perl

#313 [HIPIFY][doc] Update README.md
  README.md
Labels: documentation

#316 [HIPIFY][doc] LLVM 12.0.0 is the latest supported release
  README.md
Labels: documentation

#317 [HIPIFY][doc] CUDA 11.3 is the latest supported release
  README.md
Labels: documentation

#318 [HIPIFY] Support CUDA 11.3 Driver API types
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: CUDA, feature, sync

#319 [HIPIFY] Support CUDA 11.3 Driver API functions
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
Labels: CUDA, feature, sync

#320 [HIPIFY] Support CUDA 11.3 Runtime API types
  bin/hipify-perl
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: CUDA, feature, sync

#321 [HIPIFY] Support CUDA 11.3 Runtime API functions
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: CUDA, sync

#322 [HIPIFY][SPARSE] cuSPARSE 11.3 API functions support
  bin/hipify-perl
  doc/markdown/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: SPARSE, sync

#323 [HIPIFY][SPARSE] cuSPARSE 11.3 API data types support
  bin/hipify-perl
  doc/markdown/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: SPARSE, sync

#324 [HIPIFY] Lintian errors: fix package description
  packaging/hipify-clang.txt
Labels: package
