Repository ROCm/HIPIFY, pull requests merged in 2021-09, with the labels that each got.

#393 [HIPIFY][tests] Synthetic test for CUDA Runtime API defines - Part 2
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/runtime_defines.cu
Labels: test, fix

#394 [HIPIFY][tests] Synthetic test for CUDA Driver API functions - Part 1
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: test, fix

#395 [HIPIFY][tests] Synthetic test for CUDA Driver API functions - Part 2
  tests/unit_tests/synthetic/driver_functions.cu
Labels: feature

#396 [HIPIFY][doc] Update README.md
  README.md
Labels: documentation

#397 [HIPIFY][tests] Synthetic test for CUDA Driver API functions - Part 3
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  tests/unit_tests/samples/2_Cookbook/11_texture_driver/texture2dDrv.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
Labels: test, fix

#390 [HIPIFY] Add dependency on rocm-core
  packaging/hipify-clang.txt
Labels: build

#399 [HIPIFY][BLAS] Sync with cuBLAS 11.4.2
  bin/hipify-perl
  doc/markdown/CUBLAS_API_supported_by_HIP.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: sync, BLAS

#400 [HIPIFY][doc] CUDA 11.4.2 is the latest supported release
  README.md
Labels: documentation

#401 [HIPIFY][HIP] Sync with HIP 4.5 - Part 1
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: HIP, sync

#402 [HIPIFY][HIP] Sync with HIP 4.5 - Part 2
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
Labels: HIP, sync

#404 [HIPIFY][tests] Synthetic test for CUDA Driver API functions - Part 4
  tests/unit_tests/synthetic/driver_functions.cu
Labels: test

#406 [HIPIFY][#405] Implement `compact` doc-format
  src/ArgParse.cpp
  src/CUDA2HIP_Doc.cpp
  src/main.cpp
Labels: fix, feature

#408 [HIPIFY][tests][fix] Add missing include
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
  tests/unit_tests/synthetic/runtime_typedefs.cu
Labels: test, fix

#409 [HIPIFY][tests][fix] Switch preprocessor's mode to regular for some OS-specific tests
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#410 [HIPIFY][tests][fix] Add CUDA 11.2 check for the newer APIs
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, fix

#411 [HIPIFY][tests][fix] Add CUDA 11.1 check for the newer APIs
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#412 [HIPIFY][doc] Update README.md: running OpenGL tests
  README.md
Labels: documentation

#413 [HIPIFY][tests][fix] Add CUDA 11.0 check for the newer APIs
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#414 [HIPIFY][tests][fix] Add CUDA 10.2 check for the newer APIs
  tests/unit_tests/libraries/cuDNN/cudnn_convolution_forward.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, fix

#415 [HIPIFY][tests][fix] Add CUDA 10.1 check for the newer APIs
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#416 [HIPIFY][tests][fix] Add CUDA 10.0 check for the newer APIs
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#417 [HIPIFY][tests][fix] Add CUDA 9.2 check for the newer APIs
  tests/lit.cfg
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
  tests/unit_tests/synthetic/runtime_typedefs.cu
Labels: test, fix

#418 [HIPIFY][tests][fix] Add CUDA 9.1 check for the newer APIs
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#419 [HIPIFY][tests][fix] Add CUDA 8.0 check for the newer APIs
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, fix

#420 [HIPIFY][tests][fix] Add CUDA 7.5 check for the newer APIs
  tests/unit_tests/device/atomics.cu
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix

#421 [HIPIFY][tests][fix] Add CUDA 7.0 check for the newer APIs
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/runtime_defines.cu
Labels: test, fix

#422 [HIPIFY][tests][fix] Fix CUB tests failed on THRUST_NS_QUALIFIER
  tests/unit_tests/libraries/CUB/cub_01.cu
  tests/unit_tests/libraries/CUB/cub_02.cu
  tests/unit_tests/libraries/CUB/cub_03.cu
Labels: test, fix
