Repository ROCm/HIPIFY, pull requests merged in 2022-07, with the labels that each got.

#586 [HIPIFY][#585][tests] Fix lit testing by taking into account the LLVM version for calculating CUDA compute capability
  tests/lit.cfg
Labels: test, fix, clang

#587 [HIPIFY][tests][fix] Synthetic test for CUDA Runtime API functions - Part 8
  bin/hipify-perl
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, fix

#588 Remove workaround code to strip destination directory hip
  CMakeLists.txt
Labels: build, package

#589 [HIPIFY][fix] Add missing `HIP_SYMBOL()` macro to `hipGetTextureReference` function's symbol argument
  bin/hipify-perl
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: fix

#590 [HIPIFY][doc] Update README.md
  README.md
Labels: documentation, fix

#592 [HIPIFY][#591][CUB] Introduce CUB types mapping besides mapping of namespaces
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_CUB_API_types.cpp
  src/HipifyAction.cpp
Labels: feature, sync, CUB

#595 [HIPIFY][#591][CUB][doc] Introduce CUB_API_supported_by_HIP.md
  README.md
  doc/markdown/CUB_API_supported_by_HIP.md
Labels: documentation, feature, CUB

#597 [HIPIFY][#407][tests] Synthetic test for CUDA Runtime API functions - Part 10
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test

#598 [HIPIFY][#407][tests][fix] Synthetic test for CUDA Runtime API functions - Part 11 - final
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/samples/2_Cookbook/2_Profiler/Profiler.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, fix, sync

#599 [HIPIFY][#591][CUB] Revise main CUB defines
  bin/hipify-perl
  doc/markdown/CUB_API_supported_by_HIP.md
  src/CUDA2HIP_CUB_API_types.cpp
Labels: sync, CUB

#602 [HIPIFY][#601][BLAS][tests] Synthetic test for cuBLAS API - Part 1
  doc/markdown/CUBLAS_API_supported_by_HIP.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
Labels: test

#604 [HIPIFY][#603][clang][fix] Fix the linking error
  CMakeLists.txt
Labels: fix, clang, build

#605 [HIPIFY][#531][#532] Remove the temporary workaround for `SWDEV_331863` blocker
  CMakeLists.txt
  src/HipifyAction.cpp
Labels: enhancement, fix

#606 [HIPIFY][#601][BLAS][tests] Synthetic test for cuBLAS API - Part 2
  bin/hipify-perl
  doc/markdown/CUBLAS_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
Labels: test, fix, BLAS
