Repository ROCm/HIPIFY, pull requests merged in 2023-11, with the labels that each got.

#1112 [HIPIFY][tests][sparse][fix] Put some CUDA 9.2+ APIs in a separate test
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200.cu
Labels: test, fix, SPARSE, rocSPARSE

#1114 [HIPIFY][doc] LLVM 17.0.4 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation, clang

#1116 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 53 - functions `rocsparse_(s|d|c|z)bsrsm_solve` + `rocsparse_csrgeam_nnz`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1117 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 54 - functions `rocsparse_(s|d|c|z)bsrsm_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1118 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 55 - functions `rocsparse_(s|d|c|z)bsrsm_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1119 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 56 - functions rocsparse_(s|d|c|z)csrsm_solve` + `rocsparse_bsrsm_zero_pivot`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200_12000.cu
Labels: fix, feature, sync, SPARSE, rocSPARSE

#1120 [HIPIFY][DNN] cuDNN 8.9.6 support
  bin/hipify-perl
  docs/hipify-clang.md
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: documentation, sync, DNN

#1121 [HIPIFY][#675][#677][RSERP-704][DCGPUBU-141][SOLVER][feature] cuSOLVER support - Step 1
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1122 [HIPIFY][#675][#677][RSERP-704][DCGPUBU-141][SOLVER][feature] cuSOLVER support - Step 2 - `cusolverDn(D|S)getrf(_bufferSize)?` and `cusolverDn(D|S)getrs` functions
  bin/hipify-perl
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1123 [HIPIFY][#675][#677][RSERP-704][DCGPUBU-141][SOLVER][feature] cuSOLVER support - Step 3 - Unsupported ones (from the short list only)
  bin/hipify-perl
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1124 [HIPIFY][#675][#677][SOLVER][feature] cuSOLVER support - Step 4 - Data types
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1125 [HIPIFY][#675][#677][SOLVER][feature] cuSOLVER support - Step 5 - Data types (common)
  bin/hipify-perl
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1126 [HIPIFY][tests][fix] CUDA < 9.0 fixe
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: test, fix, BLAS

#1127 [HIPIFY][#675][#677][SOLVER][feature][doc] cuSOLVER support - Step 6 - Documentation
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: documentation, feature, SOLVER

#1128 [HIPIFY][6.1.0] Support for ROCm HIP 6.1.0 - Step 1 - Preliminary
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: HIP, sync

#1129 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 57 - functions rocsparse_(s|d|c|z)csrsm_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1130 [HIPIFY][tests][fix] CUDA < 9.0 fix for `int64_t` and `uint64_t`
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: test, fix, SPARSE, Windows, rocSPARSE

#1133 [HIPIFY][SPARSE][fix] CUDA < 9.0 fix for `cusparse(S|D|C|Z)gtsvDStridedBatch_(bufferSizeExt)?` APIs
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, SPARSE, rocSPARSE

#1134 [HIPIFY][#675][#677][SOLVER][feature] cuSOLVER support - Step 7 - Data types (common)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1136 [HIPIFY][doc] LLVM 17.0.5 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation, clang

#1137 [HIPIFY][tests][fix] CUDA < 9.0: the test `half2_allocators.cu` is excluded
  tests/lit.cfg
Labels: test, fix

#1138 [HIPIFY][BLAS][tests][fix] CUDA < 8.0 test fixes
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: test, fix, BLAS, rocBLAS

#1141 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 9 - Data types (common)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: feature, SOLVER

#1143 [HIPIFY][RTC][SWDEV-430220][doc][fix] Reflect the functions `nvrtcCompileProgram` and `nvrtcCreateProgram` signatures changes
  docs/tables/CUDA_RTC_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_RTC_API_functions.cpp
Labels: documentation, fix, CUDA

#1145 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 10 - Data types (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: fix, feature, SOLVER

#1146 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 59 - functions `rocsparse_(s|d|c|z)csrmm` and `rocsparse_csrsm_zero_pivot`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1148 [HIPIFY][SOLVER][tests][fix] Some `cusolverStatus_t` enum values are > 10.2
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: test, fix, SOLVER

#1149 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 11 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1150 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 60 - functions `rocsparse_(s|d|c|z)bsrmm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1151 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 12 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1152 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 61 - functions `rocsparse_(s|d|c|z)gemvi`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1153 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 13 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1154 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 62 - functions `rocsparse_(s|d|c|z)gemvi_bufferSize`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1156 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 14 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1157 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 63 - functions `rocsparse_(s|d|c|z)hybmv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1158 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 15 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1147 [HIPIFY][doc] Readme and Changelog updates
  CHANGELOG.md
  README.md
Labels: documentation, enhancement, fix

#1159 [HIPIFY][doc] ToC fix
  README.md
Labels: documentation, fix

#1161 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 64 - functions `rocsparse_(s|d|c|z)csrsv_solve`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1160 [HIPIFY][doc] Standardize documentation
  .github/dependabot.yml
  .readthedocs.yaml
  docs/conf.py
  docs/license.md
  docs/sphinx/_toc.yml.in
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: documentation

#1162 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 16 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1163 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 65 - functions `rocsparse_(s|d|c|z)csrsv_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1164 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 17 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1165 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 66 - functions `rocsparse_(s|d|c|z)csrsv_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1166 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 18 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: feature, SOLVER

#1171 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 20 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1172 [HIPIFY][doc] LLVM 17.0.6 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation, clang
