Repository ROCm/HIPIFY, pull requests merged in 2023-12, with the labels that each got.

#1176 [HIPIFY] Sync with CUDA 12.3.0 - Step 1 - Driver API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, CUDA

#1177 [HIPIFY][doc] Fix links in Sphinx table of contents
  .readthedocs.yaml
  CHANGELOG.md
  docs/hipify-clang.md
  docs/hipify-perl.md
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
  mdlrc-style.rb
Labels: documentation, fix

#1178 [HIPIFY] Sync with CUDA 12.3.0 - Step 2 - Driver API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1180 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 23 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1181 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 24 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1182 [HIPIFY] Sync with CUDA 12.3.0 - Step 3 - Driver API functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
Labels: sync, CUDA

#1183 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 25 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1184 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 69 - functions `rocsparse_(s|d|c|z)bsrsv_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1185 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 26 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1186 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 27 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1188 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 70 - functions `rocsparse_(s|d|c|z)bsrsv_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1189 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 28 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1190 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 29 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1192 [HIPIFY][SOLVER][tests][fix] Move `cusolver_int_t` to `CUDA >= 10.2`
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: test, fix, SOLVER

#1193 [HIPIFY][SPARSE][tests][fix] Fix for `rocSPARSE` synthetic tests failure with `CUDA < 7.5`
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_7500.cu
Labels: test, fix

#1194 [HIPIFY][SPARSE][tests][fix] Fix for `hipSPARSE` synthetic tests failure with `11.0 < CUDA < 12.0`
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, fix, SPARSE

#1195 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 30 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1196 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 31 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1198 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 32 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1199 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 71 - functions `rocsparse_(s|d|c|z)bsrxmv` and `rocsparse_bsrsv_zero_pivot`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1200 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 33 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1201 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 34 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1202 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 35 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1203 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 36 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1204 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 37 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1205 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 38 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1206 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 39 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1207 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 40 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1208 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 41 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1209 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 42 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1210 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 43 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1211 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 44 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1212 [HIPIFY][SOLVER][tests][fix] Move some APIs to `CUDA >= 9.0`
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: test, fix, SOLVER

#1213 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 45 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1216 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 46 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1217 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 47 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1218 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 48 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1219 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 49 - Functions (DN)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: feature, SOLVER

#1221 [HIPIFY][SWDEV-438050][6.0][fix] Use new location of some ROCm libs header files
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/HipifyAction.cpp
  tests/unit_tests/headers/headers_test_09.cu
  tests/unit_tests/headers/headers_test_09_12000.cu
  tests/unit_tests/libraries/CUB/cub_01.cu
  tests/unit_tests/libraries/CUB/cub_02.cu
  tests/unit_tests/libraries/cuFFT/simple_cufft.cu
  tests/unit_tests/libraries/cuRAND/benchmark_curand_generate.cpp
  tests/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
  tests/unit_tests/libraries/cuRAND/poisson_api_example.cu
  tests/unit_tests/synthetic/libraries/cusolver2rocsolver.cu
Labels: fix, RAND, FFT, SOLVER

#1222 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 50 - Functions (MG)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: feature, SOLVER

#1223 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 51 - Data Types (RF)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1224 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 52 - Functions (RF)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1226 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 53 - Functions (RF)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, SOLVER

#1227 [HIPIFY][#675][SOLVER][fix] Take into account all `cuSOLVER` header files
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/HipifyAction.cpp
  src/HipifyAction.h
  tests/unit_tests/headers/headers_test_12_SOLVER.cu
Labels: fix, SOLVER

#1228 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 54 - Functions (SP)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: feature, SOLVER

#1229 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 55 - Functions (SP)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1230 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 56 - Functions (SP - Lowlevel Preview)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: feature, SOLVER

#1231 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 57 - Functions (SP - Lowlevel Preview)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1232 [HIPIFY][#675][#677][SOLVER][feature] `cuSOLVER` support - Step 58 - Functions (SP - Lowlevel Preview)
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: feature, SOLVER

#1233 [HIPIFY][#675][#677][SOLVER][doc] `cuSOLVER` support - Step 59 - final
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
Labels: documentation, feature, SOLVER

#1235 [HIPIFY] Sync with CUDA 12.3.0 - Step 4 - Runtime API data types
  bin/hipify-perl
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#1236 [HIPIFY][DNN] cuDNN 8.9.7 is the latest supported version
  docs/hipify-clang.md
  src/Statistics.cpp
  src/Statistics.h
Labels: documentation, DNN

#1237 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 72 - functions `rocsparse_(s|d|c|z)bsrmv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1238 [HIPIFY][doc] 3rd parties software versions update
  docs/hipify-clang.md
Labels: documentation

#1240 [HIPIFY] Sync with CUDA 12.3.0 - Step 5 - Runtime API data types
  bin/hipify-perl
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#1241 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 73 - functions `rocsparse_(s|d|c|z)sctr`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1243 [HIPIFY][doc] CUDA `12.3.0` is the latest supported release
  docs/hipify-clang.md
Labels: documentation, CUDA

#1244 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 74 - functions `rocsparse_(s|d)roti`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1245 [HIPIFY][doc] CUDA `12.3.1` is the latest supported release
  docs/hipify-clang.md
Labels: documentation, sync, CUDA

#1246 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 75 - functions `rocsparse_(s|d|c|z)gthrz`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1247 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 76 - functions `rocsparse_(s|d|c|z)gthr`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1248 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 77 - functions `rocsparse_(s|d)dotci`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1249 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 78 - functions `rocsparse_(s|d|c|z)doti`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE
