Repository ROCm/HIPIFY, pull requests merged in 2023-08, with the labels that each got.

#976 [HIPIFY][doc] LLVM 18.0.0git is supported
  docs/hipify-clang.md
Labels: documentation

#977 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 23 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#978 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 24 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#979 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 25 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#980 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 1 - cuSPARSE API - data types
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: sync, SPARSE, CUDA

#981 [HIPIFY][SWDEV-366827][cmake] Disable file reorg backward compatibility support by default
  CMakeLists.txt
Labels: build, compatibility

#982 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 2 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: sync, SPARSE, CUDA

#984 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 3 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#986 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 4 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#987 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 26 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#988 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 5 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#989 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 6 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#990 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 7 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#991 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 27 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, CUDA

#992 [HIPIFY][SPARSE] Sync with CUDA 12.2.1 - Part 8 - cuSPARSE API - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE, CUDA

#995 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 28 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#996 [HIPIFY][doc] 3rd parties software versions update
  docs/hipify-clang.md
Labels: documentation

#997 [HIPIFY][SWDEV-356700][doc] Mention and link to hipify_torch
  README.md
  docs/index.md
Labels: documentation

#998 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 29 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#999 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 30 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1000 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 31 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1001 [HIPIFY][#674][#837][rocSPARSE][feature] rocSPARSE support - Step 32 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1005 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 35 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE
