Repository ROCm/HIPIFY, pull requests merged in 2023-05, with the labels that each got.

#854 [HIPIFY][#782][#783] Support for CUDA overloaded function `cudaGraphInstantiate`
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: fix, sync, CUDA

#855 [HIPIFY][HIP][5.6.0] All 5.5.0 APIs are no longer experimental
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: HIP, sync

#857 [HIPIFY][HIP][5.6.0] Sync - Part 2 - final
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: HIP, sync

#858 [HIPIFY][doc] LLVM 16.0.3 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation

#861 [HIPIFY] Widened the enum `SupportDegree`
  src/Statistics.cpp
  src/Statistics.h
Labels: enhancement, feature

#862 [HIPIFY][fix] Use `isCudaDeprecated` instead of `isDeprecated` for detecting CUDA-only deprecated APIs
  src/HipifyAction.cpp
Labels: fix

#865 [HIPIFY][DNN] cuDNN 8.9.1 is the latest supported version
  docs/hipify-clang.md
  src/Statistics.cpp
  src/Statistics.h
Labels: documentation, DNN

#867 [HIPIFY][#778][#864][tests][BLAS] Rewrite tests with a mix of cuBLAS and cuBLAS_v2 APIs to cuBLAS_v2 only - Step 3
  tests/unit_tests/libraries/cuBLAS/rocBLAS/cublas_0_based_indexing_rocblas_v2.cu
Labels: test, fix, BLAS, rocBLAS

#869 [HIPIFY][doc][ROC][feature] CUDA2ROC documentation generation - Step 1
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/ArgParse.cpp
  src/ArgParse.h
  src/CUDA2HIP_Doc.cpp
  src/Statistics.cpp
Labels: documentation, fix, feature

#871 [HIPIFY][doc][MIOPEN][feature] CUDA2ROC documentation generation - Step 3
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_Doc.cpp
Labels: documentation, feature, DNN, MIOpen

#872 [HIPIFY][SWDEV-400555][tests][fix] Move some CUDA 12+ specific tests in a separate test
  tests/lit.cfg
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Labels: test, fix

#873 [HIPIFY][doc][MIOPEN][feature] CUDA2ROC documentation generation - Step 4
  src/CUDA2HIP_Doc.cpp
Labels: documentation, enhancement, fix

#874 [HIPIFY][MIOpen][formatting] Fix MIOpen indentation
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: formatting, MIOpen

#875 [HIPIFY][doc][MIOPEN][feature] CUDA2ROC documentation generation - Step 5
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, fix, feature, DNN, MIOpen

#876 [HIPIFY][doc] LLVM 16.0.4 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation

#877 [HIPIFY][fix] Fix `joint` documentation generation in the `compact` mode
  src/CUDA2HIP_Doc.cpp
Labels: documentation, fix

#878 [doc] Update documentation requirements
  docs/.sphinx/requirements.in
  docs/.sphinx/requirements.txt
Labels: documentation

#879 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 1 - initial
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/HipifyAction.cpp
  src/HipifyAction.h
  src/Statistics.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, feature, sync, SPARSE, rocSPARSE

#880 [HIPIFY][doc][SPARSE][feature] CUDA2ROC documentation generation - Step 6
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_Doc.cpp
Labels: documentation, feature, SPARSE, rocSPARSE

#881 [HIPIFY][SPARSE] Changed `UNSUPPORTED` marks due to `rocSPARSE` introduction - Step 1 - Data types
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: enhancement, formatting, fix, rocSPARSE

#883 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 2 - data types
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#886 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 4 - data types
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#888 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 5 - data types
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#889 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 6 - data types (final)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, feature, sync, SPARSE, rocSPARSE

#890 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 7 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, feature, sync, SPARSE, rocSPARSE

#891 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 8 - functions
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#893 [HIPIFY][perl][ROC][fix] Generate `roc` APIs substitutions for all currently supported `roc` analogues
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#897 [HIPIFY][doc] Update `README.md`: testing and versioning
  docs/hipify-clang.md
Labels: documentation
