Repository ROCm/HIPIFY, pull requests merged in 2023-02, with the labels that each got.

#767 [HIPIFY][SPARSE] Sync with CUDA 12.0 - Part 27 - SPARSE API (final)
  bin/hipify-perl
  doc/markdown/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: fix, sync, SPARSE, CUDA

#768 [HIPIFY][Device] Sync with CUDA 12.0 - Part 28 - Device API
  bin/hipify-perl
  doc/markdown/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: sync, CUDA, device

#769 [HIPIFY][HIP][5.5.0] Sync - Part 1 - CUDA Driver and RT types
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: HIP, sync

#770 [HIPIFY][HIP][5.5.0] Sync - Part 2 - CUDA Driver and RT types
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, HIP, sync

#771 [HIPIFY][#690][SWDEV-310152][package][build][revert] Remove rpath from binary files
  CMakeLists.txt
Labels: build, revert

#773 [HIPIFY][HIP][5.5.0] Sync - Part 3 - CUDA Driver and RT functions
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, HIP, sync

#774 [HIPIFY][HIP][5.5.0] Sync - Part 4 - CUDA Driver and RT functions
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, fix, HIP, sync

#775 [HIPIFY][#690][#771][SWDEV-310152][package][build][5.5.0] Use RUNPATH rather than using RPATH
  CMakeLists.txt
Labels: fix, build, package

#776 [HIPIFY][HIP][5.5.0] Sync - Part 5 - Device functions
  bin/hipify-perl
  doc/markdown/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: HIP, sync, device

#777 [HIPIFY][RT] Sync with CUDA 12.0 - Part 29 - RT API
  bin/hipify-perl
  doc/markdown/CUDA_RTC_API_supported_by_HIP.md
  src/CUDA2HIP_RTC_API_functions.cpp
Labels: sync, CUDA

#779 [HIPIFY][#778][BLAS][tests] Sync with CUDA 12.0 - Part 30 - BLAS tests
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_06_12000.cu
  tests/unit_tests/headers/headers_test_07_12000.cu
  tests/unit_tests/headers/headers_test_08_12000.cu
  tests/unit_tests/headers/headers_test_09_12000.cu
Labels: test, sync, BLAS, CUDA

#780 [HIPIFY][tests] Sync with CUDA 12.0 - Part 31 - tests with removed APIs
  bin/hipify-perl
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/lit.cfg
  tests/unit_tests/samples/2_Cookbook/11_texture_driver/texture2dDrv.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, fix, sync, CUDA

#781 [HIPIFY][SPARSE][tests] Sync with CUDA 12.0 - Part 32 - SPARSE tests only
  tests/lit.cfg
  tests/unit_tests/libraries/cuSPARSE/cuSPARSE_03.cu
Labels: test, sync, SPARSE, CUDA

#784 [HIPIFY][tests] Sync with CUDA 12.0 - Part 33 - tests on APIs with changed signature
  tests/unit_tests/synthetic/driver_functions.cu
Labels: test, fix, sync, CUDA

#785 [HIPIFY][tests] Sync with CUDA 12.0 - Part 33 (final) - temporary excluding of some tests
  tests/lit.cfg
Labels: test, BLAS, compatibility, temporary, CUB

#786 [HIPIFY][doc] CUDA 12.0 is supported experimentally by hipify-clang built against the latest LLVM 17.0.0git sources
  README.md
Labels: documentation, CUDA

#787 [HIPIFY][fix] Revise all the matchers
  bin/hipify-perl
  doc/markdown/CUDA_Driver_API_functions_supported_by_HIP.md
  doc/markdown/CUDA_Runtime_API_functions_supported_by_HIP.md
  doc/markdown/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: fix

#788 [HIPIFY][doc] README.md update - versioning
  README.md
Labels: documentation

#789 [HIPIFY][DNN] Sync with cuDNN 8.8.0
  bin/hipify-perl
  doc/markdown/CUDNN_API_supported_by_HIP.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#790 [HIPIFY][doc] CUDA 12.0.1 is supported experimentally by hipify-clang built against the latest LLVM 17.0.0git sources
  README.md
Labels: documentation, CUDA
