Repository ROCm/HIPIFY, pull requests merged in 2023-09, with the labels that each got.

#1007 [HIPIFY][doc] CUDA 12.2.2 is the latest supported release
  docs/hipify-clang.md
Labels: documentation

#1009 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 36 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1012 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 37 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1013 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 38 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1015 [HIPIFY][#674][#1014][rocSPARSE][feature] rocSPARSE support - Step 39 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1016 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 40 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1017 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 41 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1022 [HIPIFY][#1021][build][MSVS][fix][partial] Fix for `error C2365` occurred on VS 2022 with ToT clang 18.0.0git
  CMakeLists.txt
Labels: fix, clang, build, MSVS, partial

#1023 [HIPIFY][#1021][#1022][build][MSVS][fix][partial] Fix for `error C2365` occurred on VS 2019 with ToT clang 18.0.0git
  CMakeLists.txt
Labels: fix, clang, build, MSVS, partial

#1024 [HIPIFY][doc] Added `-DLLVM_INCLUDE_TESTS=OFF` to LLVM build command lines
  docs/hipify-clang.md
Labels: documentation, enhancement, clang

#1025 [HIPIFY][doc][fix] Rename `-DHIPIFY_CLANG_TESTS=1` to `-DHIPIFY_CLANG_TESTS=ON`
  docs/hipify-clang.md
Labels: documentation, fix

#1026 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 42 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1027 [HIPIFY][doc][fix] Fix broken links to clang patches
  docs/hipify-clang.md
Labels: documentation, fix

#1028 [HIPIFY][doc] Point to releases on GitHub instead of llvm.org for LLVM >= 10
  docs/hipify-clang.md
Labels: documentation, enhancement

#1030 [HIPIFY][doc][Windows] Revise building LLVM by Visual Studio on Windows
  docs/hipify-clang.md
Labels: documentation, enhancement, fix, clang, Windows

#1031 [HIPIFY][#1024][doc] Do not need to build any LLVM targets for LLVM >= 10.0.0 anymore
  docs/hipify-clang.md
Labels: documentation, fix, clang, build

#1032 [HIPIFY][doc] LLVM 17.0.1 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation

#1033 [HIPIFY][doc] Replace build.image with build.os in the .readthedocs.yaml config
  .readthedocs.yaml
Labels: documentation

#1034 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 43 - functions `rocsparse_(s|d|c|z)csric0_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1036 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 44 - functions `rocsparse_(s|d|c|z)scsric0_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1037 [HIPIFY][#1029][tests] Updated the `tex2dKernel` test
  tests/unit_tests/samples/2_Cookbook/11_texture_driver/tex2dKernel.cpp
Labels: enhancement, test

#1038 [HIPIFY][SWDEV-407588][clang][fix] Applied an ugly hack for the LLVM < 13.0
  src/HipifyAction.cpp
Labels: clang, compatibility, workaround

#1039 [HIPIFY][doc][win] README.md update - versioning
  docs/hipify-clang.md
Labels: documentation, Windows

#1040 [HIPIFY][tests] Added the `reduction.cu` sample test
  tests/unit_tests/samples/reduction.cu
Labels: test

#1042 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 45 - functions `rocsparse_(s|d|c|z)bsrilu0`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1043 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 46 - functions `rocsparse_(s|d|c|z)bsrilu0_analysis`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1044 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 47 - functions `rocsparse_(s|d|c|z)bsric0` and `rocsparse_(ds|d|dc|z)bsrilu0_numeric_boost`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE
