Repository ROCm/HIPIFY, pull requests merged in 2023-04, with the labels that each got.

#823 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 9
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, DNN, MIOpen

#824 [HIPIFY][#584][#822][DNN][MIOpen][feature] cuDNN -> MIOpen - Part 10
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, DNN, MIOpen

#825 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 11 - cuDNN Pooling functions
  src/CUDA2HIP_DNN_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#826 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 12 - cuDNN LRN functions
  src/CUDA2HIP_DNN_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#827 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 13 - cuDNN Batch Normalization functions
  src/CUDA2HIP_DNN_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#828 [HIPIFY][DNN] Formatting
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: formatting, DNN

#829 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 14 - cuDNN Activation and Softmax functions
  src/CUDA2HIP_DNN_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#831 [HIPIFY][doc] LLVM 16.0.1 is the latest supported LLVM release
  README.md
Labels: documentation

#832 [HIPIFY][SWDEV-376358][doc] Updated `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#834 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 15
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, DNN, MIOpen

#835 [HIPIFY][doc] README.md update - versioning
  README.md
Labels: documentation

#836 [HIPIFY][DNN] Sync with cuDNN 8.9.0
  README.md
  bin/hipify-perl
  doc/markdown/CUDNN_API_supported_by_HIP.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#838 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 16 - cuDNN RNN functions - partially
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#839 [HIPIFY][SWDEV-376358][doc] Updated `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#840 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 17 - cuDNN RNN functions - partially
  src/CUDA2HIP_DNN_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#841 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 18 - cuDNN CTC Loss functions
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#843 [HIPIFY][#584][DNN][MIOpen] cuDNN -> MIOpen - Part 20 - cuDNN Reduce Tensor functions
  src/CUDA2HIP_DNN_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen

#844 [HIPIFY][doc] LLVM 16.0.2 is the latest supported LLVM release
  README.md
Labels: documentation

#845 [HIPIFY][fix] Get rid of excessive spaces after transformation with argument removal
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: fix

#846 [HIPIFY][#830][feature] Function call transformation type "move arg from place X to place Y"
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, MIOpen

#847 [HIPIFY][SPARSE] Sync with CUDA 12.1.1
  bin/hipify-perl
  doc/markdown/CUSPARSE_API_supported_by_HIP.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: sync, SPARSE, CUDA

#848 [HIPIFY][doc] LLVM 12.1.1 is the latest supported release
  README.md
Labels: documentation

#737 [HIPIFY][doc] Building Documentation on RTD
  .github/dependabot.yml
  .github/workflows/markdownlint.yml
  .gitignore
  .mdlrc
  .readthedocs.yaml
  README.md
  docs/.sphinx/_toc.yml.in
  docs/.sphinx/requirements.in
  docs/.sphinx/requirements.txt
  docs/conf.py
  docs/hipify-clang.md
  docs/hipify-perl.md
  docs/index.md
  docs/supported_apis.md
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUB_API_supported_by_HIP.md
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUFFT_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/cuComplex_API_supported_by_HIP.md
  mdlrc-style.rb
Labels: documentation, refactor

#850 [doc][#737][fix] Fix README.md
  README.md
  docs/hipify-clang.md
  docs/hipify-perl.md
  docs/supported_apis.md
Labels: documentation, fix

#851 [doc] Added Section `How to build CUDA2HIP documentation` to the `README.md`
  README.md
Labels: documentation
