Repository ROCm/HIPIFY, pull requests merged in 2023-07, with the labels that each got.

#931 [HIPIFY][SPARSE][test][fix] Take into account `CUSPARSE_VERSION` for cuSPARSE 11.0.x APIs in the corresponding hipSPARSE and rocSPARSE tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: test, fix, SPARSE, rocSPARSE

#932 [HIPIFY][HIP][5.7.0] All 5.6.x APIs are no longer experimental
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: HIP, sync

#934 [HIPIFY] Sync with CUDA 12.2.0 - Part 1 - tests
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
Labels: sync, CUDA

#935 [HIPIFY] Sync with CUDA 12.2.0 - Part 2 - Driver API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#937 [HIPIFY][SWDEV-379066][build] Add the ability to include hipify in HIP SDK
  CMakeLists.txt
Labels: feature, build, Windows

#939 [HIPIFY][SPARSE][test][Windows][fix] Take into account APIs unsupported on WIN32 for some CUDA versions in the corresponding hipSPARSE and rocSPARSE tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: test, fix, SPARSE, Windows, rocSPARSE

#940 [HIPIFY][BLAS][tests][fix] Use `const_cast` for some function arguments, which signatures changed in 9.2
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: test, fix, BLAS

#941 [HIPIFY] Sync with CUDA 12.2.0 - Part 3 - Driver API - functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#942 [HIPIFY][rocBLAS][tests][fix] Use `const_cast` for some function arguments, which signatures changed in 9.2
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: test, fix, rocBLAS

#944 [HIPIFY][build][#724][SWDEV_375013][cleanup] Remove `SWDEV_375013` related guards from `CMakeLists.txt` and `HipifyAction.cpp`
  CMakeLists.txt
  src/HipifyAction.cpp
Labels: build, compatibility, cleanup

#945 [HIPIFY][cmake] Formatting and indentation
  CMakeLists.txt
Labels: formatting, build

#947 [HIPIFY][package][cmake][Linux][fix] `FILE_REORG_BACKWARD_COMPATIBILITY` is a Linux-only option
  CMakeLists.txt
Labels: fix, build

#951 [HIPIFY] Sync with CUDA 12.2.0 - Part 6 - Runtime API - data types
  bin/hipify-perl
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#952 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 19 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#953 [HIPIFY] Sync with CUDA 12.2.0 - Part 7 - Device API - bfp16 functions
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: sync, CUDA, device

#954 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 20 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#955 [HIPIFY] Sync with CUDA 12.2.0 - Part 8 - Device API - fp16 functions
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: sync, CUDA, device

#956 [HIPIFY][doc] CUDA 12.2.0 is the latest supported release
  docs/hipify-clang.md
Labels: documentation

#958 [HIPIFY][rocBLAS][5.7.0] Sync with `rocBLAS` 5.7.0
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Labels: sync, rocBLAS

#959 [HIPIFY][doc][5.7.0] `CHANGELOG.md` update
  CHANGELOG.md
  src/ArgParse.cpp
Labels: documentation

#960 [HIPIFY][DNN] cuDNN 8.9.3 is the latest supported version
  docs/hipify-clang.md
Labels: documentation

#963 [HIPIFY][build] Look for clang in CMAKE_PREFIX_PATH
  CMakeLists.txt
Labels: build

#962 [HIPIFY][SWDEV-409236][perl] - Get the absolute path of the script directory
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Labels: perl

#965 [HIPIFY][cmake][fix] Search for `Python` instead of `PythonInterp` for cmake >= 3.27.0
  CMakeLists.txt
Labels: fix, build, compatibility

#966 [HIPIFY][cmake][fix] Search for `CUDAToolkit` instead of `CUDA` for cmake >= 3.27.0
  CMakeLists.txt
Labels: fix, build

#967 [HIPIFY][doc] 3rd parties software versions update
  docs/hipify-clang.md
Labels: documentation

#968 [HIPIFY][cmake][tests] Refactor CUDA-related things in cmake and unit-testing - Step 1
  CMakeLists.txt
  tests/lit.cfg
  tests/lit.site.cfg.in
Labels: enhancement, test, fix, build

#969 [HIPIFY][cmake] Report HIPIFY config
  CMakeLists.txt
Labels: enhancement, build

#973 [HIPIFY][cmake] Refactor CUDA-related things in cmake and unit-testing - Step 3
  CMakeLists.txt
Labels: enhancement, fix, build

#974 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 22 - functions
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#975 [HIPIFY][tests] Revise synthetic tests
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_typedefs.cu
  tests/unit_tests/synthetic/runtime_unions.cu
Labels: enhancement, formatting, test
