Repository ROCm/HIPIFY, pull requests merged in 2024-11, with the labels that each got.

#1733 [HIPIFY][DNN][doc] `cuDNN 9.5.1` is the latest supported version
  docs/hipify-clang.rst
Labels: documentation, DNN

#1734 [HIPIFY][doc] `LLVM 19.1.3` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang, sync

#1735 [HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 10
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: HIP, sync, BLAS, rocBLAS, partial

#1737 [HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 11 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: sync, CUDA, partial, BLASLt

#1738 [HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 12 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: sync, CUDA, partial, BLASLt

#1739 [HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 11
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: HIP, sync, BLAS, rocBLAS, partial

#1740 [HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` and `rocBLAS` - Step 12
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: HIP, sync, BLAS, rocBLAS, partial

#1741 [HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 13 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: sync, CUDA, partial, BLASLt

#1742 [HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` - Step 13
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS, partial

#1743 [HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 14 - BlasLt API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: sync, CUDA, partial, BLASLt

#1744 [HIPIFY][6.3.0][BLAS] Sync with `hipBLAS` - Step 14
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS, partial

#1745 [HIPIFY][BLAS] Sync with `CUDA 12.6.2` - Step 15 - BlasLt API - final
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: sync, CUDA, BLASLt

#1746 [HIPIFY][doc] CUDA `12.6.2` is the latest supported release (LLVM 20.x)
  docs/hipify-clang.rst
Labels: documentation, sync, CUDA

#1748 [HIPIFY][SWDEV-493184][6.2.0][device][fix] Added missing support for device intrinsics and built-ins that appeared in HIP `6.2.0`
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: fix, HIP, device

#1749 [HIPIFY][6.3.0][BLAS][fix] Sync with `hipBLAS` and `rocBLAS` - Step 16 - final for `hipBLAS`
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: fix, HIP, sync, BLAS, CUDA, rocBLAS, partial

#1750 [HIPIFY][doc][6.3.1] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1751 [HIPIFY][doc] 3rd party SW versions update
  docs/hipify-clang.rst
Labels: documentation

#1752 [HIPIFY][6.4] Remove the `HIP_EXPERIMENTAL` mark
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: HIP

#1753 [HIPIFY][MIOpen][doc] Populate the `Supported CUDA API` table with `MIOpen` links
  docs/supported_apis.md
Labels: documentation, MIOpen

#1736 [HIPIFY][Tensor][feature] Introduce `cuTensor` support - Part 1 - w/o hipify-perl and documentation
  CMakeLists.txt
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1755 [HIPIFY][Tensor][feature][hipify] Enable hipify-perl support for `cuTensor`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: feature, perl, Tensor

#1757 [HIPIFY][Tensor][feature] Introduce `cuTensor` support - Part 2 - documentation
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: documentation, feature, partial, Tensor

#1759 [HIPIFY][Tensor][feature] Introduce `cuTensor` support - Part 4 - Data Types
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1762 [HIPIFY][doc] `LLVM 19.1.4` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1763 [HIPIFY][#1617][fp8] Support for `fp8` math - Part 1
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_types.cpp
Labels: feature, device, partial

#1764 [HIPIFY][#1617][fp8] Support for `fp8` math - Part 2 - Functions
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: feature, device, partial

#1761 [HIPIFY][Tensor][feature] Introduce cuTensor support - Part 5
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1765 [HIPIFY][#1617][fp8][tests] Support for `fp8` math - Part 3 - Tests - Data Types
  bin/hipify-perl
  src/CUDA2HIP.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt_10010_10020.cu
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_11010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_7050.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9020.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9020_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_11000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: test, fix, feature, device, partial

#1768 [HIPIFY][#1617][fp8][tests] Support for `fp8` math - Part 4 - final
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Labels: test, fix, feature, device

#1770 [HIPIFY][#1769][fp16] Support for `fp16` math - Part 1 - Data Types
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Labels: fix, feature, device

#1773 [HIPIFY][#1769][fp16] Support for `fp16` math - Part 2 - Functions
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Labels: feature, device, partial
