Repository ROCm/HIPIFY, pull requests merged in 2024-02, with the labels that each got.

#1318 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 3 - AMIN 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1319 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 4 - ASUM 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1321 [HIPIFY][6.0.2][fix] List HIP 6.0.2 version
  src/Statistics.cpp
  src/Statistics.h
Labels: fix

#1322 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 5 - AXPY 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1323 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 6 - COPY 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1324 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 7 - DOT 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1325 Update CODEOWNERS syntax, missed asterisk
  .github/CODEOWNERS
Labels: documentation, fix

#1326 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 8 - NRM2 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS, rocBLAS

#1327 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 9 - ROT 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS, rocBLAS

#1328 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 10 - ROTM 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS, rocBLAS

#1329 [HIPIFY][6.1] Remove the mark HIP_EXPERIMENTAL
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
Labels: sync, SOLVER

#1330 [HIPIFY][SOLVER][6.1][sync] Sync with `hipSOLVER` and `rocSOLVER`
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: sync, SOLVER

#1331 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 11 - SCAL 64bit
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS, rocBLAS

#1332 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 12 - SWAP 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS, rocBLAS

#1333 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 104 - `cusparseXcsrgeam2Nnz` -> `rocsparse_csrgeam_nnz`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1334 [HIPIFY][rocBLAS][6.1][sync] Sync with `rocBLAS` - Step 13 - DOTEx and AXPYEx 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, rocBLAS

#1338 [HIPIFY][BLAS][6.1] Mark the newly added APIs as `HIP_EXPERIMENTAL`
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: BLAS, rocBLAS

#1339 [HIPIFY][tests][Linux][fix] Use explicit GL include for CUDA_VERSION <= 9020
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_functions_internal.cu
Labels: test, fix, Linux

#1340 [HIPIFY][SPARSE][fix] `CUSPARSE_VERSION >= 10200` (CUDA 10.1.1) fixes
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, SPARSE

#1341 [HIPIFY][tests][Linux][fix] Use explicit GL include for `CUDA_VERSION <= 10000`
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_functions_internal.cu
Labels: test, fix

#1342 [HIPIFY][tests][Windows][fix] Fix for `(u)int64_t` and `CUDA_VERSION < 9000`
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: test, fix, Windows

#1343 [HIPIFY][tests][Windows][fix] Fix typos
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: test, fix, Windows

#1345 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 105 - `cusparseSpSM_solve` -> `rocsparse_spsm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: feature, rocSPARSE

#1347 [HIPIFY][fix] `cudaMallocHost` -> `hipHostMalloc`
  src/HipifyAction.cpp
  tests/unit_tests/device/device_symbols.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: fix

#1348 [HIPIFY][feature] Implemented multiple (HIP API and ROC API) transformations for a single CUDA API description
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_11030_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse_12000.cu
Labels: feature

#1349 [HIPIFY][clang][compatibility][fix] clang 19.0.0git compatibility support
  src/HipifyAction.cpp
Labels: fix, clang, compatibility

#1350 [HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1351 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 106 - `cusparseSpMM` -> `rocsparse_spmm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: feature, sync, rocBLAS

#1352 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 107 - `cusparseSpVV_bufferSize` -> `rocsparse_spvv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: feature, sync, rocSPARSE

#1353 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 108 - `cusparseSpMV(_bufferSize)?` -> `rocsparse_spmv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: feature, sync, rocSPARSE

#1354 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 109 - `cusparseSpVV` -> `rocsparse_spvv`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: feature, sync, rocSPARSE

#1355 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 110 - Functions (spmm, scatter, gather, axpby)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: fix, feature, sync, rocSPARSE

#1357 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 112 - Functions (spsv)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
Labels: fix, feature, sync, rocSPARSE

#1358 [HIPIFY][SPARSE][tests] Added some missing tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, SPARSE

#1359 [HIPIFY][HIP][6.1][sync] Sync with `CUDA Runtime API` and `CUDA Driver API` - Step 1 - Data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: HIP, sync

#1360 [HIPIFY][HIP][6.1][sync] Sync with `CUDA Runtime API` and `CUDA Driver API` - Step 2 - Functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: HIP, sync

#1361 [HIPIFY][SPARSE][6.1][sync] Sync with `hipSPARSE` - Step 1 - Deprecated APIs
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: sync, SPARSE

#1362 [HIPIFY][SPARSE][6.1][sync] Sync with `hipSPARSE` - Step 2 - New APIs
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: sync, SPARSE

#1363 [HIPIFY][SPARSE][6.1][sync] Sync with `rocSPARSE` - New APIs
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: sync, rocSPARSE

#1365 [HIPIFY][SPARSE][tests] Added missing `csru2csr` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, SPARSE

#1366 [HIPIFY][doc] Updated the supported CUDA APIs
  docs/supported_apis.md
Labels: documentation

#1368 [HIPIFY][SWDEV-424205][#1093][Linux][fix] Fix the scripts directory, changed in the Linux packages
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
Labels: fix, package, Linux

#1369 [HIPIFY][SPARSE][tests] Added the missing `csru2csr_bufferSizeExt` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, SPARSE

#1371 [HIPIFY][SPARSE][tests] Added the missing `csr2csru` tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, SPARSE

#1372 [HIPIFY][MSVC] Force Multi-Processor builds
  CMakeLists.txt
Labels: enhancement, build, MSVS, Windows

#1373 [HIPIFY][doc] 3rd parties software versions update
  docs/hipify-clang.md
Labels: documentation

#1375 [HIPIFY][SPARSE][tests] Added missing SpGEMM, SpSV, and SpSM tests
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: test, SPARSE

#1376 [HIPIFY][fix] Add the option `-amap` to the list of hipify-clang options
  src/ArgParse.cpp
Labels: fix

#1377 [HIPIFY][SWDEV-446809][fix] Fix the broken build for LLVM < 13
  src/CUDA2HIP_Scripting.h
Labels: fix, build

#1380 [HIPIFY][docs] Updated the usage of `hipify-clang`
  README.md
  docs/hipify-clang.md
  docs/pics/csv_statistics.png
Labels: documentation, enhancement

#1381 [HIPIFY][docs] Formatting
  docs/hipify-clang.md
Labels: documentation, formatting

#1382 [HIPIFY][fix] Add exclusions for copying openmp headers.
  CMakeLists.txt
Labels: build, package

#1383 [HIPIFY][SWDEV-428387][fix] Get rid of absolute paths presented in the `hipify-clang` binary - Part 1
  CMakeLists.txt
  packaging/hipify-clang.txt
  src/ArgParse.cpp
  src/ArgParse.h
  src/main.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/run_test.bat
Labels: fix, feature

#1384 [HIPIFY][SWDEV-428387][Linux][tests][fix] Get rid of absolute paths presented in the hipify-clang binary - Part 2 - Restore Linux testing
  tests/run_test.sh
Labels: test, fix, Linux

#1385 [HIPIFY][tests][lit] Introduced `LIT_ARGS` to pass options to `LIT` from `CMake`
  CMakeLists.txt
Labels: enhancement, test, feature

#1386 [HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation
