Repository ROCm/HIPIFY, pull requests merged in 2024-03, with the labels that each got.

#1387 [HIPIFY][package][fix] Use the debug package creation variables provided by build script
  packaging/hipify-clang.txt
Labels: fix, package

#1388 [HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1389 [HIPIFY][docs] Updated the `hipify-clang` documentation
  docs/hipify-clang.md
Labels: documentation, enhancement, fix

#1391 [HIPIFY][docs] Updated the `hipify-clang` documentation
  docs/hipify-clang.md
Labels: documentation, enhancement

#1392 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 1
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: sync, DNN

#1393 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 2
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: DNN

#1395 [HIPIFY][doc][6.1.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1400 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 3
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: sync, DNN

#1401 [HIPIFY][doc][6.1.1] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1402 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Fix typos
  src/CUDA2HIP_DNN_API_types.cpp
Labels: fix, DNN

#1403 [HIPIFY][doc] LLVM 18.1.0 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation

#1404 [HIPIFY][doc] LLVM 18.1.1 is the latest supported LLVM release
  docs/hipify-clang.md
Labels: documentation

#1408 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 4
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1409 [HIPIFY][DNN][6.2] `cuDNN` 9.0.0 support - Part 5
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1412 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 6
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1413 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 7
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1414 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 8
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1415 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 9
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1416 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 10
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1417 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 11
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: sync, DNN

#1410 [HIPIFY][doc] table revamp
  README.md
  docs/data/csv_statistics.png
  docs/hipify-clang.md
  docs/hipify-clang.rst
  docs/index.md
Labels: documentation, refactor

#1421 [HIPIFY][doc] LLVM 18.1.2 is the latest supported LLVM release
  CHANGELOG.md
  docs/hipify-clang.rst
Labels: documentation, clang

#1425 [HIPIFY][doc][fix] Fixed `hipify-clang` documentation
  docs/hipify-clang.rst
Labels: documentation, fix

#1426 [HIPIFY][doc][Win] Updated the `hipify-clang` documentation
  docs/hipify-clang.rst
Labels: documentation, Windows

#1427 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 12
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN
