Repository ROCm/HIPIFY, pull requests merged in 2024-05, with the labels that each got.

#1468 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 2
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1466 [HIPIFY][doc] Refactor documentation
  LICENSE.txt
  docs/hipify-clang.rst
  docs/hipify-perl.md
  docs/hipify-perl.rst
  docs/index.md
  docs/index.rst
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
Labels: documentation, refactor

#1470 [HIPIFY][doc] LLVM 18.1.5 is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1471 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 4
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1472 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 5
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1473 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 6
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1476 [HIPIFY][DNN] cuDNN 9.1.1 is the latest supported version
  docs/hipify-clang.rst
Labels: documentation, DNN

#1477 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 7
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1478 [HIPIFY][SWDEV-446374][#72][#577][fix] Return `reinterpret_cast` for an explicit conversion between `pointer-to-function` and `pointer-to-object`
  bin/hipify-perl
  src/HipifyAction.cpp
  tests/unit_tests/casts/reinterpret_cast.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: fix

#1479 [HIPIFY][#1478][tests][fix] Split runtime tests based on CUDA version
  tests/lit.cfg
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_9000.cu
Labels: test, fix

#1480 [HIPIFY][doc] 3rd party SW versions update
  docs/hipify-clang.rst
Labels: documentation

#1481 [HIPIFY][doc] Changelog update
  CHANGELOG.md
Labels: documentation

#1482 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 8
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1483 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 9
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1484 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 10
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1485 [HIPIFY][#1450][tests] Add the missing test on `cuGraphAddMemsetNode` -> `hipDrvGraphAddMemsetNode`
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: test

#1398 [HIPIFY][SWDEV-435473][fix] Sync CMake installation of HIPIFY tools with package installations
  CMakeLists.txt
  packaging/hipify-clang.txt
Labels: fix, package

#1486 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 11
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1488 [HIPIFY][test] Enable external CI pipeline triggers
  .azuredevops/rocm-ci.yml
Labels: test, feature

#1489 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification supportv - Step 12
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1487 [HIPIFY] docs fixes
  docs/hipify-clang.rst
  docs/hipify-perl.rst
  docs/index.rst
  docs/sphinx/_toc.yml.in
  docs/supported_apis.md
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
Labels: documentation, fix

#1491 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 14
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1493 [HIPIFY][BLAS] Formatting
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: formatting, BLAS

#1494 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 15
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_Doc.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1495 Update RTD config to use Python 3.10 and rocm-docs-core 1.1.2
  .github/CODEOWNERS
  .readthedocs.yaml
  docs/sphinx/requirements.in
  docs/sphinx/requirements.txt
Labels: documentation

#1496 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 16
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1497 [HIPIFY][BLAS] Formatting
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: formatting, BLAS

#1500 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 17
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1501 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 18
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1502 [HIPIFY][doc] LLVM 18.1.6 is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation

#1503 [HIPIFY] Formatting
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Perl.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/LLVMCompat.h
  src/Statistics.cpp
  src/Statistics.h
  src/main.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: formatting

#1504 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 19
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, sync, BLASLt

#1505 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 20
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1507 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: sync, BLAS

#1508 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 21 - final
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt

#1509 [HIPIFY][BLASLt][6.2.0] cuBLASLt support - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: sync, BLASLt

#1510 [HIPIFY][RAND][6.2.0] cuRAND support - Step 1
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP.md
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
Labels: HIP, sync, RAND

#1511 [HIPIFY][SPARSE][6.2.0] hipSPARSE support - Step 1
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: HIP, sync, SPARSE

#1512 [HIPIFY][SPARSE][6.2.0] hipSPARSE support - Step 2
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: HIP, sync, SPARSE

#1513 [HIPIFY][SPARSE][6.2.0] hipSPARSE support - Step 3
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: HIP, sync, SPARSE

#1514 [HIPIFY][SPARSE][6.2.0] hipSPARSE support - Step 4
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
Labels: HIP, sync, SPARSE
