Repository ROCm/HIPIFY, pull requests merged in 2024-06, with the labels that each got.

#1516 [HIPIFY][SPARSE][6.2.0] hipSPARSE support - Step 6 - final
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
Labels: HIP, sync, SPARSE

#1517 [HIPIFY][doc][6.2.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1518 [HIPIFY][HIP][6.2.0] `HIP Runtime` support - Step 1
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_unions.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_unions.cu
Labels: HIP, sync

#1519 [HIPIFY][HIP][6.2.0] `HIP Runtime` support - Step 2
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_defines.cu
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: HIP, sync

#1522 [HIPIFY][HIP][6.2.0] `HIP Runtime` support - Step 3
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Labels: HIP, sync

#1523 [HIPIFY][RT][tests][fix] Fix `CUDA 11.x` tests
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: test, fix, CUDA

#1524 [HIPIFY][RT][tests][fix] Fix `CUDA 12.2.x` tests
  tests/unit_tests/synthetic/driver_structs.cu
  tests/unit_tests/synthetic/runtime_structs.cu
Labels: test, fix, CUDA

#1525 [HIPIFY][HIP][6.2.0] `HIP Runtime` support - Step 4
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: HIP, sync

#1528 [HIPIFY][tests][Linux][fix] Fix `CUDA 10.1.x` tests
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
Labels: test, fix, Linux

#1529 [HIPIFY][DNN] cuDNN 9.2.0 is the latest supported version
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN, CUDA

#1530 [HIPIFY][doc] 3rd party SW versions update
  docs/hipify-clang.rst
Labels: documentation

#1531 [HIPIFY] Sync with `CUDA 12.5.0` - Step 1 - Driver API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, CUDA

#1532 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 2 - 64-bit functions
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS

#1533 [HIPIFY][Linux][tests][fix] Fix `Runtime` test dealing with `unsigned long long` (`CUDA >= 12.0` tests affected)
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, fix, Linux

#1535 [HIPIFY][tests][#1534][CUB][clang][fix] Restore building and testing of CUB - Step 1
  tests/lit.cfg
Labels: fix, clang, CUB, partial

#1536 [HIPIFY][tests][#1534][CUB][clang][fix] Restore building and testing of CUB - Step 2
  CMakeLists.txt
Labels: enhancement, test, feature, CUB

#1537 [HIPIFY][tests][#1534][CUB][clang][fix] Restore building and testing of CUB - Step 3
  tests/lit.cfg
Labels: test, fix, clang, CUB

#1538 [HIPIFY] Sync with CUDA 12.5.0 - Step 2 - Driver API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1539 [HIPIFY][tests][#1534][CUB][clang][fix] Restore building and testing of CUB - Step 4
  CMakeLists.txt
Labels: test, fix, build, CUB

#1540 [HIPIFY][DNN][build] Minor build for testing enchantment
  CMakeLists.txt
Labels: enhancement, test, build, DNN

#1541 [HIPIFY][doc] `LLVM 18.1.7` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1542 [HIPIFY][tests][#1534][CUB][clang][fix] Restore building and testing of CUB - Step 5
  CMakeLists.txt
Labels: test, fix, build, CUB

#1543 [HIPIFY][format] `CMakeLists.txt` formatting
  CMakeLists.txt
Labels: formatting, build

#1545 [HIPIFY][tests][cmake][refactor] Refactor `CUDA_SDK_ROOT_DIR` (Samples)
  CMakeLists.txt
  tests/lit.cfg
  tests/lit.site.cfg.in
Labels: test, fix, build, refactor

#1546 [HIPIFY][tests][cmake][refactor] Refactor `CUDA_TOOLKIT_ROOT_DIR` and `CUDA_SDK_ROOT_DIR`
  CMakeLists.txt
Labels: test, build, refactor

#1547 [HIPIFY] Sync with CUDA 12.5.0 - Step 3 - Driver API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1548 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 3 - 64-bit functions
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS

#1549 [HIPIFY] Sync with CUDA 12.5.0 - Step 4 - Runtime API
  bin/hipify-perl
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#1550 [HIPIFY][BLAS][fix] Added support for the missing `hipblas(S|D)gemvStridedBatched`
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: fix, BLAS

#1551 [HIPIFY] Sync with CUDA 12.5.0 - Step 5 - BLAS API
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: sync, BLAS, CUDA

#1552 [HIPIFY] Sync with CUDA 12.5.0 - Step 6 - FFT API
  bin/hipify-perl
  docs/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_types.cpp
Labels: sync, FFT, CUDA

#1554 [HIPIFY] Sync with CUDA 12.5.0 - Step 7 - Runtime API documentation
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Runtime_API_functions.cpp
Labels: documentation, sync, CUDA

#1556 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 4 - 64-bit functions
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS

#1558 [HIPIFY][#1553] Support for `math_constants.h` - Step 1 - headers
  src/CUDA2HIP.cpp
  tests/unit_tests/headers/headers_test_13.cu
Labels: feature, HIP, partial

#1559 [HIPIFY][#1553] Support for `math_constants.h` - Step 2
  bin/hipify-perl
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/headers/headers_test_13.cu
  tests/unit_tests/synthetic/runtime_defines.cu
Labels: sync, CUDA

#1560 [HIPIFY][doc] CUDA `12.5.0` is the latest supported release (LLVM 19.x)
  docs/hipify-clang.rst
Labels: documentation, CUDA

#1561 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 5 - 64-bit functions
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS

#1563 [HIPIFY][doc] `LLVM 18.1.8` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1564 [HIPIFY][#1534][CUB][doc] Update documentation regarding CUB testing
  docs/hipify-clang.rst
Labels: documentation, CUB

#1565 [HIPIFY][BLAS][6.2.0] cuBLAS support - Step 6 - 64-bit functions
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: HIP, sync, BLAS
