Repository ROCm/HIPIFY, pull requests merged in 2024-04, with the labels that each got.

#1428 [HIPIFY][#948][Fix] Fixed replacement and added another test
  src/HipifyAction.cpp
  tests/unit_tests/samples/macro_check.cu
Labels: fix

#1430 [HIPIFY][DNN][6.1.1][tests] `cuDNN` 9.0.0 support - Part 14
  src/CUDA2HIP_DNN_API_functions.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
  tests/unit_tests/synthetic/libraries/cudnn2miopen_before_9000.cu
Labels: test, fix, feature, DNN

#1431 [HIPIFY][DNN][6.1.1] `cuDNN` 9.0.0 support - Part 15 - final
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN

#1432 [HIPIFY][DNN][doc] cuDNN 9.0.0 is the latest supported version
  docs/hipify-clang.rst
Labels: documentation, DNN

#1433 [HIPIFY] Sync with CUDA 12.4.0 - Step 1 - Driver API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, CUDA

#1434 [HIPIFY] Sync with CUDA 12.4.0 - Step 2 - Driver API functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1435 [HIPIFY] Sync with CUDA 12.4.0 - Step 3 - Green Contexts API introduction
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1436 [HIPIFY] Sync with CUDA 12.4.0 - Step 4 - Green Contexts API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
Labels: sync, CUDA

#1438 [HIPIFY][doc] LLVM 18.1.3 is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation

#1440 [HIPIFY][6.2] Sync with HIP 6.2 - Step 1 - Preliminary
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: HIP, sync

#1442 [HIPIFY] Formatting
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_CUB_API_types.cpp
  src/CUDA2HIP_Complex_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  src/CUDA2HIP_Device_types.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_RTC_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: formatting

#1444 [HIPIFY][6.2][SOLVER][SWDEV-436312] Sync with hipSOLVER 6.2 - Step 1
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: sync, SOLVER

#1446 [HIPIFY][DNN] cuDNN 9.1.0 is the latest supported version
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#1447 [HIPIFY] Sync with CUDA 12.4.0 - Step 5 - Runtime API data types
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#1448 [HIPIFY] Sync with CUDA 12.4.0 - Step 6 - Runtime API functions
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: sync, CUDA

#1449 [HIPIFY][BLAS] Sync with CUDA 12.4.0 - Step 7 - cuBLAS
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
Labels: sync, BLAS

#1450 [HIPIFY][fix] Fixed `HIP_MEMSET_NODE_PARAMS` and `hipGetProcAddress`
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
Labels: fix, HIP

#1451 [HIPIFY][doc] LLVM 18.1.4 is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1452 [HIPIFY] Deprecate CUDA Driver's Primary Context Management API in HIP
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
Labels: HIP, sync

#1453 [HIPIFY][HIP][fix] Fix for `hipTexRefGetArray` and `hipTexRefGetBorderColor`
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: fix, HIP, sync

#1454 [HIPIFY][FFT] Sync with CUDA 12.4.0 - Step 7 - cuFFT
  bin/hipify-perl
  docs/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
Labels: sync, FFT, CUDA

#1455 [HIPIFY][FFT] Sync with CUDA 12.4.0 - Step 9 - cuSOLVER
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
Labels: sync, CUDA, SOLVER

#1456 [HIPIFY][SPARSE] Sync with CUDA 12.4.0 - Step 10 - cuSPARSE
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/CUDA2HIP_SPARSE_API_types.cpp
Labels: sync, SPARSE, CUDA

#1458 [HIPIFY][doc] CUDA `12.4.1` is the latest supported release (LLVM 19.x)
  docs/hipify-clang.rst
Labels: documentation, CUDA

#1459 [HIPIFY][#1439][fix] Switched the matcher `cudaOverloadedHostFuncCall` to using `getWriteRange`
  src/HipifyAction.cpp
Labels: fix

#1460 [HIPIFY][#1459][fix] Switched the rest of matchers to using `getWriteRange`
  src/HipifyAction.cpp
Labels: fix

#1461 [HIPIFY][doc] `README.md` update - versioning
  docs/hipify-clang.rst
Labels: documentation

#1463 [HIPIFY] Minor refactoring of `SourceManager`'s usage
  src/HipifyAction.cpp
Labels: refactor

#1464 [HIPIFY][6.2][SOLVER][SWDEV-436312] Sync with hipSOLVER 6.2 - Step 2
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: sync, SOLVER

#1465 [HIPIFY][SOLVER][tests][fix] Fix for CUDA < 9.0 and CUDA < 8.0
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: test, fix, SOLVER

#1467 [HIPIFY][#936][BLASLT] `cublasLt` -> `hipblalLt` hipification support - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP.h
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLASLt
