Repository ROCm/HIPIFY, pull requests merged in 2024-01, with the labels that each got.

#1250 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 79 - functions `rocsparse_(s|d|c|z)axpyi`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1251 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 80 - Data types (Const)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_types.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1252 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 81 - Functions (SpVec, Management)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1254 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 82 - Functions (SpMat)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1255 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 83 - Functions (SpMat)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1256 [HIPIFY][#674][rocSPARSE][6.0.0][feature] rocSPARSE support - Step 84 - Functions (DnVec, DnMat)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1257 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 85 - functions (Csrsm2, Csrsv2)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200_12000.cu
Labels: fix, feature, sync, SPARSE, rocSPARSE

#1258 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 86 - functions (Csric02, Csrilu02)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1259 [HIPIFY][doc] CUDA `12.3.2` is the latest supported release
  docs/hipify-clang.md
Labels: documentation, CUDA

#1260 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 87 - functions (Bsrsv2, Bsrsm2)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1261 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 88 - functions (Bsric02, Bsrilu02)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, rocSPARSE

#1262 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 89 - functions (Csrgemm2, Prune)
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1263 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 90 - functions `rocsparse_(s|d|c|z)csrmm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1264 [HIPIFY][rocSPARSE][fix] Hipification from `cusparse(S|D|C|Z)csrmm` to `rocsparse_(s|d|c|z)csrmm` needs an additional const arg
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_11000.cu
Labels: fix, rocSPARSE

#1265 [HIPIFY][tests] Fix failed `rocSPARSE` tests
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_11000.cu
Labels: test, fix, rocSPARSE

#1266 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 91 - functions `rocsparse_(s|d|c|z)csrgeam`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1268 [HIPIFY][#1267][#1266][fix] Correctly delete the last argument from the function call for `e_remove_argument` transformation
  src/HipifyAction.cpp
Labels: fix

#1269 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 92 - functions `rocsparse_(s|d|c|z)bsrsv_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1270 [HIPIFY][tests][fix] Fix the test `headers/headers_test_12_SOLVER.cu` failed on CUDA < 10010
  tests/unit_tests/headers/headers_test_12_SOLVER.cu
Labels: test, fix, SOLVER

#1272 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 93 - functions `rocsparse_(s|d|c|z)csrsv_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1273 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 94 - functions `rocsparse_(s|d|c|z)csrgemm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1274 [HIPIFY][rocSPARSE][fix] Fix hipification of `rocsparse_(s|d|c|z)csrilu0_buffer_size`
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: fix, rocSPARSE

#1276 [HIPIFY][SWDEV-435473][cmake][fix] The installation location of hipify_clang is not correct
  packaging/hipify-clang.txt
Labels: fix, build

#1277 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 96 - functions `rocsparse_(s|d|c|z)bsrilu0_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1278 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 97 - function `rocsparse_csr2csc_buffer_size`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010.cu
Labels: feature, sync, SPARSE, rocSPARSE

#1279 [HIPIFY][tests] Formatting
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9200.cu
Labels: formatting, test

#1280 [HIPIFY][tests] Rename a few synthetic tests
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_7050.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9020.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9020_12000.cu
Labels: enhancement, test

#1282 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 98 - function `rocsparse_sparse_to_dense`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, rocSPARSE

#1284 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 100 - `cusparseDenseToSparse_bufferSize` -> `rocsparse_dense_to_sparse`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, rocSPARSE

#1285 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 101 - `cusparseDenseToSparse_analysis` -> `rocsparse_dense_to_sparse`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: feature, sync, rocSPARSE

#1286 [HIPIFY][doc] Update links in README.md
  README.md
Labels: documentation, fix

#1288 [HIPIFY][doc][fix] The minimum supported CUDA version is 7.0
  docs/hipify-clang.md
Labels: documentation, fix, CUDA

#1289 [HIPIFY][#674][rocSPARSE][feature] rocSPARSE support - Step 102 - `cusparseSpMM_bufferSize` -> `rocsparse_spmm`
  bin/hipify-perl
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  src/CUDA2HIP_SPARSE_API_functions.cpp
  src/HipifyAction.cpp
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2hipsparse.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_10010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_9020_12000.cu
Labels: fix, feature, sync, rocSPARSE

#1290 [HIPIFY][tests][fix] Exclude `cusparse2rocsparse_10010.cu` from running against CUDA < 10.1
  tests/lit.cfg
Labels: test, fix, rocSPARSE

#1291 [HIPIFY][tests][rocSPARSE] Split `cusparse2rocsparse` tests
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_11010_12000.cu
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse_before_12000.cu
Labels: test, fix, rocSPARSE

#1298 [HIPIFY][tests][rocSOLVER][fix] Exclude `cusparse2rocsparse_10010_12000.cu` for CUDA < 11000 on Windows
  tests/lit.cfg
Labels: test, fix, rocSPARSE

#1299 [HIPIFY][tests][fix] Exclude `cusparse2rocsparse_11010_12000.cu` from running against CUDA 11.1.x
  tests/lit.cfg
Labels: test, fix, rocSPARSE

#1301 [HIPIFY][doc] Add codeowners for documentation
  .github/CODEOWNERS
Labels: documentation

#1302 [HIPIFY][SWDEV-440338][fix] Do not rewrite tokens in code blocks skipped by Preprocessor
  src/ArgParse.cpp
  src/ArgParse.h
  src/HipifyAction.cpp
  src/HipifyAction.h
Labels: fix

#1303 [HIPIFY][#968][tests][fix] Take into account an `OFF` value of CUDA-related path variables
  tests/lit.cfg
Labels: test, fix, CUDA

#1304 [HIPIFY][tests][fix][win] Fix incorrect treating of hipify args by the `run_test.bat` script
  tests/run_test.bat
Labels: test, fix, Windows

#1305 [HIPIFY][fix] Fix for the warning `-Winconsistent-missing-override`
  src/HipifyAction.cpp
Labels: enhancement, fix, build

#1306 [HIPIFY][cmake][tests][fix] Enable Python 3.12.x support in cmake
  CMakeLists.txt
Labels: test, fix, build

#1307 [HIPIFY][tests][linux] Add support for 5 hipify arguments
  tests/run_test.sh
  tests/unit_tests/synthetic/libraries/cusparse2rocsparse.cu
Labels: test, Linux

#1308 [HIPIFY][tests][win] Improve logging in the `run_test.bat` script
  tests/run_test.bat
Labels: enhancement, test, Windows

#1313 [HIPIFY][tests][fix][win] Handle the situation when there are no any hipify args
  tests/run_test.bat
Labels: test, fix, Windows

#1314 [HIPIFY][doc] Ubuntu 23.10 is supported
  docs/hipify-clang.md
Labels: documentation, Linux

#1315 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
Labels: sync, BLAS

#1316 [HIPIFY][BLAS][6.1][sync] Sync with `hipBLAS` and `rocBLAS` - Step 2 - AMAX 64bit
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, BLAS

#1317 [HIPIFY][doc][6.0.2] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation
