Repository ROCm/HIPIFY, pull requests merged in 2024-08, with the labels that each got.

#1605 [HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 1
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: HIP, sync, partial

#1606 [HIPIFY][doc] The supported 3rd parties update
  docs/hipify-clang.rst
Labels: documentation

#1608 [HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 2 - Tests
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: test, HIP, sync

#1610 [HIPIFY][HIP][6.2.0] Revise HIP APIs - Step 3 - Post 6.2 APIs removal
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: fix, HIP, sync

#1611 [HIPIFY][DNN] cuDNN 9.3.0 is the latest supported version
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#1612 [HIPIFY][doc][6.2.2] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1614 [HIPIFY][tests][doc] Python 3.12.5 is supported
  docs/hipify-clang.rst
Labels: documentation, test

#1615 [HIPIFY][SWDEV-475354][#1439][#1459][fix] Switched the `e_add_const_argument` matchers to using `getWriteRange`
  src/HipifyAction.cpp
  tests/unit_tests/samples/cudaMallocHost.cu
Labels: fix, clang

#1613 [HIPIFY][fix] Header device_launch_parameters present in CUDA should be skipped
  bin/hipify-perl
  src/CUDA2HIP.cpp
Labels: fix, partial

#1616 [HIPIFY][SWDEV-475354][#1439][#1459][fix] Switched the rest of transforming matchers to using `getWriteRange`
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/transforming_matchers.cu
Labels: fix

#1618 [HIPIFY][doc][6.2.2] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation

#1619 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 1 - Infrastructural
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_Doc.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/Statistics.cpp
Labels: feature, RAND, partial

#1620 [HIPIFY][CUB][tests] Temporary disabling of `CUB` tests for `CUDA >= 12.6.x`
  tests/lit.cfg
Labels: test, clang, temporary, CUB

#1623 [HIPIFY][perl] Fix cuda2roc headers substitution under the `--roc` option
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#1627 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 3 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, partial, rocRAND

#1629 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 1
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, DNN, MIOpen, partial

#1631 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 2
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, DNN, MIOpen, partial

#1632 [HIPIFY][SWDEV-481313][tests][fix] Fix the test `transforming_matchers.cu` failed to compile on Linux
  tests/unit_tests/synthetic/transforming_matchers.cu
Labels: test, fix, Linux

#1633 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 4 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, RAND, partial, rocRAND

#1635 [HIPIFY][SWDEV-480722][hiRAND][fix] Add missing support for `curandDirectionVectors64_t` -> `hiprandDirectionVectors64_t`
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
Labels: fix, RAND
