Repository ROCm/HIPIFY, pull requests merged in 2024-09, with the labels that each got.

#1636 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 3
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: feature, sync, DNN, MIOpen, partial

#1638 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 4
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen, partial

#1639 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 5 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, partial, rocRAND

#1640 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 5
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen, partial

#1641 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 6
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen, partial

#1645 [HIPIFY][DNN] cuDNN 9.4.0 is the latest supported version
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#1646 [HIPIFY][RAND][tests][fix] Fix synthetic `RAND` tests
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: test, fix, RAND, rocRAND

#1647 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 6 - Data Types
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_types.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, partial, rocRAND

#1648 [HIPIFY][doc] CUDA `12.6.0` is the latest supported release (LLVM 20.x)
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, CUDA

#1649 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 8
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen, partial

#1642 [HIPIFY][SWDEV-437189][package][fix] Provide option to enable/disable `CPACK_SET_DESTDIR`
  CMakeLists.txt
  packaging/hipify-clang.txt
Labels: enhancement, fix, package

#1654 [HIPIFY][doc] CUDA `12.6.1` is the latest supported release (LLVM 20.x)
  docs/hipify-clang.rst
Labels: documentation, CUDA

#1656 [HIPIFY][6.3] Remove the `HIP_EXPERIMENTAL` mark
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  tests/unit_tests/libraries/cuRAND/benchmark_curand_kernel.cpp
Labels: HIP

#1657 [HIPIFY][#584][#1624][MIOpen] Support for backend `graphAPI` direct translation from `cuDNN` to `MIOpen` - Part 10
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: feature, sync, DNN, MIOpen, partial

#1658 [HIPIFY][doc] `LLVM 19.1.0` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang, CUDA

#1659 [HIPIFY][rocBLAS] 64-bit functions support - Step 1
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: sync, rocBLAS

#1660 [HIPIFY][MIOpen] Versioning - Step 1 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, MIOpen

#1661 [HIPIFY][MIOpen] Versioning - Step 2 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, MIOpen

#1663 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 8 - Functions
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_functions.cpp
  tests/unit_tests/libraries/cuRAND/benchmark_curand_generate.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, RAND, partial, rocRAND

#1664 [HIPIFY][MIOpen] Versioning - Step 3 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, MIOpen

#1665 [HIPIFY][MIOpen] Versioning - Step 4 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, formatting, MIOpen

#1666 [HIPIFY][rocBLAS] 64-bit functions support - Step 2
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: feature, sync, rocBLAS, partial

#1667 [HIPIFY][MIOpen] Versioning - Step 5 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, MIOpen

#1669 [HIPIFY][rocBLAS] 64-bit functions support - Step 3
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: fix, feature, sync, rocBLAS, partial

#1670 [HIPIFY][MIOpen] Versioning - Step 6 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: documentation, enhancement, MIOpen, partial

#1671 [HIPIFY][rocRAND][feature] Support for `cuRAND -> rocRAND` hipification - Step 9 - Functions
  bin/hipify-perl
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  src/CUDA2HIP_RAND_API_functions.cpp
  tests/unit_tests/synthetic/libraries/curand2hiprand.cu
  tests/unit_tests/synthetic/libraries/curand2rocrand.cu
Labels: feature, sync, partial, rocRAND

#1672 [HIPIFY][MIOpen] Versioning - Step 7 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_functions.cpp
Labels: documentation, enhancement, MIOpen

#1673 [HIPIFY][rocBLAS] 64-bit functions support - Step 4
  bin/hipify-perl
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: fix, feature, sync, rocBLAS, partial

#1674 [HIPIFY][MIOpen] Versioning - Step 8 - `Appeared`
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: documentation, enhancement, MIOpen
