Repository ROCm/HIPIFY, pull requests merged in 2024-12, with the labels that each got.

#1775 [HIPIFY][DNN] cuDNN 9.6.0 is the latest supported version
  bin/hipify-perl
  docs/hipify-clang.rst
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN

#1777 [HIPIFY][Tensor][feature] Introduce cuTensor support - Part 6
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1779 [HIPIFY][#1625][#1776][feature][fix] Added the `-miopen` option to `hipify-perl`, changed the hipification logic, tuned up the `hipify-perl` performance
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
  src/HipifyAction.cpp
  src/Statistics.cpp
  src/Statistics.h
  src/main.cpp
Labels: enhancement, fix, feature, perl, MIOpen, partial

#1778 [HIPIFY][Tensor][feature] hipTensor-rocm-6.3.0 support - Data Types
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1780 [HIPIFY][#1777][Tensor][tests][fix] Fix the failed `cutensor2hiptensor.cu` test
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: test, fix, Tensor

#1781 [HIPIFY][fix] Fix the links to `ROCm`
  docs/index.rst
  packaging/hipify-clang.txt
  src/ArgParse.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas.cu
  tests/unit_tests/synthetic/libraries/cublas2rocblas_v2.cu
Labels: fix

#1783 [HIPIFY][doc] `LLVM 19.1.5` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1784 [HIPIFY][doc] 3rd party SW versions update
  docs/hipify-clang.rst
Labels: documentation

#1785 [HIPIFY][SWDEV-501192][RT][6.4.0] Added experimental support for `hipStreamBatchMemOp` API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_typedefs.cu
  tests/unit_tests/synthetic/driver_unions.cu
  tests/unit_tests/synthetic/runtime_functions_12000.cu
Labels: feature, HIP

#1786 [HIPIFY][SWDEV-501193][RT][6.4.0] Added experimental support for `hipGraphAddBatchMemOpNode` API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/driver_structs.cu
Labels: feature, HIP

#1788 Update README text pointing to the documentation.
  README.md
Labels: documentation

#1787 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 7
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, Tensor

#1789 [HIPIFY][SWDEV-501194][RT][6.4.0] Added experimental support for `hipGraphBatchMemOpNode(G|S)etParams` API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: feature, HIP

#1791 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 8
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, Tensor

#1792 [HIPIFY][SWDEV-501197][RT][6.4.0] Experimental support for `hipGraphExecBatchMemOpNodeSetParams` API
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
Labels: feature, HIP

#1793 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 9
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, Tensor

#1794 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 10
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1796 [HIPIFY][Device][tests][fix] Fix device test failures on CUDA 11.8.0, 12.0.x, and 12.1.x
  tests/lit.cfg
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice_before_11080_after_12011.cu
Labels: test, fix, CUDA, device

#1795 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 11
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1797 [HIPIFY][Tensor][feature] hipTensor support - Functions - Part 12
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, partial, Tensor

#1801 [HIPIFY][Tensor] hipTensor support - test coverage from version 1.0.1 to 2.0.2.1 - Part 13
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: test, fix, Tensor

#1802 [HIPIFY][Tensor][tests] Minor enhancements and formatting
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: enhancement, test, Tensor

#1803 [HIPIFY][doc] Introduce `cuTensor` to `hipTensor` hipification support in the documentation
  docs/hipify-clang.rst
  docs/supported_apis.md
Labels: documentation, Tensor

#1804 [HIPIFY][Tensor][tests][fix] Guard `cudaDataType` with `#if CUDA_VERSION >= 8000`
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: test, fix, Tensor

#1806 [HIPIFY][Tensor] Minor fixes and formatting
  bin/hipify-perl
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: enhancement, formatting, fix, Tensor

#1807 [HIPIFY][RT][6.4.0] Sync with `HIP LRT 6.4.0`
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/driver_enums.cu
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_enums.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: HIP, sync

#1808 [HIPIFY][doc] `LLVM 19.1.6` is the latest supported LLVM release
  docs/hipify-clang.rst
Labels: documentation, clang

#1809 [HIPIFY][TensorMg][feature] `cuTensorMg` support - Part 1
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: feature, partial, Tensor

#1810 [HIPIFY][TensorMg][feature] `cuTensorMg` support - Part 2
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: feature, partial, Tensor

#1811 [HIPIFY][TensorMg][feature] `cuTensorMg` support - Part 3
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/CUDA2HIP_TENSOR_API_types.cpp
Labels: feature, partial, Tensor

#1812 [HIPIFY][TensorMg][feature] `cuTensorMg` support - Part 4 - final
  bin/hipify-perl
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
Labels: feature, partial, Tensor

#1813 [HIPIFY][MIOpen][6.3.0] Added the missing `MIOPEN_BACKEND_OPERATION_RESHAPE_DESCRIPTOR`
  bin/hipify-perl
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  tests/unit_tests/synthetic/libraries/cudnn2miopen.cu
Labels: fix, sync, MIOpen

#1814 [HIPIFY][HIP][tests] Added the missing test for `hipDrvGraphExecMemsetNodeSetParams`
  tests/unit_tests/synthetic/driver_functions.cu
Labels: test, HIP

#1815 [HIPIFY] Formatting
  src/CUDA2HIP.cpp
  src/CUDA2HIP_BLAS_API_functions.cpp
  src/CUDA2HIP_BLAS_API_types.cpp
  src/CUDA2HIP_CAFFE2_API_types.cpp
  src/CUDA2HIP_DNN_API_functions.cpp
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  src/CUDA2HIP_RAND_API_functions.cpp
  src/CUDA2HIP_RAND_API_types.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  src/CUDA2HIP_SOLVER_API_functions.cpp
  src/CUDA2HIP_SOLVER_API_types.cpp
  src/StringUtils.cpp
Labels: formatting
