Repository ROCm/HIPIFY, pull requests merged in 2025-09, with the labels that each got.

#2089 [HIPIFY][#2086][fix] Added the missing change in the source file
  src/CUDA2HIP_Doc.cpp
Labels: fix

#2091 [HIPIFY][SWDEV-552615][#2088][bug][fix] Added the missing support of `cuda_bf16.h` import
  bin/hipify-perl
  src/CUDA2HIP.cpp
  tests/lit.cfg
  tests/unit_tests/headers/headers_test_09_bf16_11000.cu
Labels: fix, device

#2093 Update hipify-clang.rst
  docs/how-to/hipify-clang.rst
Labels: documentation

#2096 [HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 11 - Runtime - Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_defines.cu
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: feature, sync, CUDA, partial

#2107 [HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 17 - Runtime - Functions - Graph - Part 1
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/graph/simple_mechs.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: feature, sync, CUDA, partial

#2108 [HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 18 - Runtime - Functions - Graph - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: feature, sync, CUDA, partial

#2110 [HIPIFY][CUDA 13] CUDA 13.0.0 support - Step 20 - Sync `Driver` and `Runtime` APIs in `HIPIFY` - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: feature, sync, CUDA, partial

#2119 [HIPIFY][TENSOR] `cuTensor 2.3.0.0` support - Part 1 - Data types
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: feature, sync, CUDA, partial, Tensor

#2121 [HIPIFY][doc] `LLVM 21.1.2` is the latest stable supported versions
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/how-to/hipify-clang.rst
Labels: documentation, clang

#2122 [HIPIFY][TENSOR] `cuTensor 2.3.0.0` support - Part 2 - Functions - final
  bin/hipify-perl
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
Labels: feature, sync, CUDA, Tensor

#2123 [HIPIFY][TENSOR][doc] `cuTensor 2.3.1.0` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Labels: documentation, Tensor

#2124 [HIPIFY][DNN][doc] `cuDNN 9.13.1` is the latest supported version
  docs/building/build-hipify-clang-linux.rst
  docs/building/build-hipify-clang-windows.rst
Labels: documentation, DNN
