Repository ROCm/HIPIFY, pull requests merged in 2025-06, with the labels that each got.

#1980 [HIPIFY][doc] `LLVM 20.1.6` is the latest stable supported LLVM release
  docs/building/building-hipify.rst
  docs/how-to/hipify-clang.rst
Labels: documentation, clang

#1981 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 5 - `hipblas(C|Z)axpy_v2_(64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1982 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 6 - `hipblas(C|Z)copy_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1985 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 9 - `hipblas(C(s)?|Z(d)?)rot(g)?_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1987 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 11 - `hipblas(C|Z)swap_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1990 [HIPIFY][doc][#1944][merge] Cherry-pick the Header MetaData for all CUDA2HIP docs into docs/6.4.1
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  docs/reference/tables/CUB_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CURAND_API_supported_by_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  docs/reference/tables/cuComplex_API_supported_by_HIP.md
  src/CUDA2HIP_Doc.cpp
Labels: documentation, merge

#1992 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 12 - `hipblas(C|Z)gbmv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1994 [HIPIFY][BLASLt] Support for `hipBLASLt 7.0` - `Step 1`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
  tests/unit_tests/synthetic/libraries/cublaslt2hipblaslt.cu
Labels: feature, HIP, sync, partial, BLASLt

#1995 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 13 - `hipblas(C|Z)gemv(Strided)?(Batched)?_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1997 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 14 - `hipblas(C|Z)ger(u|c)_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#1998 [HIPIFY][#SWDEV-534480][BLAS] Support for hipBLAS 7.0 - Step 2 - renaming `v2` APIs - Part 15 - `hipblas(C|Z)hbmv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#2003 [HIPIFY][SPARSE] Support for `hipSPARSE 7.0`
  bin/hipify-perl
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: feature, HIP, sync, SPARSE

#2006 [HIPIFY][TENSOR] Support for `hipTensor 7.0` - Step 2 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
Labels: feature, HIP, sync, partial, Tensor

#2009 [HIPIFY][TENSOR] Support for `hipTensor 7.0` - Step 3 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_types.cpp
  tests/lit.cfg
  tests/lit.site.cfg.in
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor.cu
  tests/unit_tests/synthetic/libraries/cutensor2hiptensor_before_20000.cu
Labels: feature, HIP, sync, partial, Tensor

#2008 [HIPIFY][build] Remove File reorganization backward compatibility
  CMakeLists.txt
  hipify-backward-compat.cmake
  packaging/hipify-clang.txt
Labels: enhancement, build, package

#2012 [HIPIFY][#SWDEV-534480][BLAS] Support for `hipBLAS 7.0` - Step 2 - renaming `v2` APIs - Part 22 - `hipblas(C|Z)tbmv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#2014 [HIPIFY][#SWDEV-534480][BLAS] Support for `hipBLAS 7.0` - Step 2 - renaming `v2` APIs - Part 23 - `hipblas(C|Z)tbsv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#2016 [HIPIFY][#SWDEV-534480][BLAS] Support for `hipBLAS 7.0` - Step 2 - renaming `v2` APIs - Part 24 - `hipblas(C|Z)tpmv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#2019 [HIPIFY][#SWDEV-534480][BLAS] Support for `hipBLAS 7.0` - Step 2 - renaming `v2` APIs - Part 27 - `hipblas(C|Z)trsv_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial

#2020 [HIPIFY][#SWDEV-534480][BLAS] Support for `hipBLAS 7.0` - Step 2 - renaming `v2` APIs - Part 28 - `hipblas(C|Z)gemm((Strided)?Batched)?_v2(_64)?`
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_BLAS_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cublas2hipblas.cu
  tests/unit_tests/synthetic/libraries/cublas2hipblas_v2.cu
Labels: feature, HIP, sync, BLAS, partial
