Repository ROCm/HIPIFY, pull requests merged in 2025-01, with the labels that each got.

#1818 [HIPIFY][doc] Updated the `LICENSE.txt` and `CHANGELOG.md`
  CHANGELOG.md
  LICENSE.txt
Labels: documentation

#1819 [HIPIFY][doc] Added hyperlinks to `CHANGELOG.md`
  CHANGELOG.md
Labels: documentation

#1821 [HIPIFY][SOLVER][6.4.0] Sync with `HIP SOLVER 6.4.0`
  bin/hipify-perl
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  src/CUDA2HIP_SOLVER_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cusolver2hipsolver.cu
Labels: HIP, sync, SOLVER

#1822 [HIPIFY][RT][6.4.0] Sync with `HIP LRT 6.4.0` - `hipDeviceGetTexture1DLinearMaxWidth` - incomplete
  bin/hipify-perl
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
  tests/unit_tests/synthetic/driver_functions.cu
  tests/unit_tests/synthetic/runtime_functions.cu
Labels: HIP, sync, partial

#1823 [HIPIFY][#1776][perl][feature][fix] Tuned the `hipify-perl` performance up to `450%`
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: enhancement, fix, feature, perl

#1826 [HIPIFY][#1825][doc] Put the `Note` at the beginning of the generated files for the Supported CUDA APIs
  docs/tables/CUBLAS_API_supported_by_HIP.md
  docs/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/tables/CUBLAS_API_supported_by_ROC.md
  docs/tables/CUB_API_supported_by_HIP.md
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  docs/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP.md
  docs/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/tables/CUFFT_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP.md
  docs/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/tables/CURAND_API_supported_by_ROC.md
  docs/tables/CUSOLVER_API_supported_by_HIP.md
  docs/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSOLVER_API_supported_by_ROC.md
  docs/tables/CUSPARSE_API_supported_by_HIP.md
  docs/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/tables/CUSPARSE_API_supported_by_ROC.md
  docs/tables/CUTENSOR_API_supported_by_HIP.md
  docs/tables/cuComplex_API_supported_by_HIP.md
  src/CUDA2HIP_Doc.cpp
Labels: documentation, enhancement

#1829 [HIPIFY][GitHub] Update the new Issue Report Template
  .github/ISSUE_TEMPLATE/issue_report.yml
Labels: enhancement

#1831 [HIPIFY][#1769][fp16][feature] Support for `fp16` math - Part 4 - final
  bin/hipify-perl
  docs/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
Labels: feature, HIP, device, partial

#1830 [HIPIFY][doc] Update supported_apis.md
  docs/supported_apis.md
Labels: documentation, enhancement

#1832 [HIPIFY][perl][fix] Take into account the Device data types which all were erroneously missed
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#1833 [HIPIFY][perl] Minor formatting changes in the `hipify-perl` code generation
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: formatting, perl

#1835 [HIPIFY][doc][fix] Update README.md
  README.md
Labels: documentation, fix

#1836 [HIPIFY][doc][fix] Move the CUDA2HIP Markdown tables to the expected destination
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  docs/reference/tables/CUB_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP.md
  docs/reference/tables/CURAND_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CURAND_API_supported_by_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP.md
  docs/reference/tables/CUSOLVER_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSOLVER_API_supported_by_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP.md
  docs/reference/tables/CUSPARSE_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUSPARSE_API_supported_by_ROC.md
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  docs/reference/tables/cuComplex_API_supported_by_HIP.md
Labels: documentation, fix, refactor

#1837 [HIPIFY][perl][fix] Eliminated more erroneous warnings
  bin/hipify-perl
  src/CUDA2HIP_Perl.cpp
Labels: fix, perl

#1838 [HIPIFY][SWDEV-430220][LRT][Workaround] Use `const_cast<const char**>` in `hiprtcCreateProgram` and `hiprtcCompileProgram`
  bin/hipify-perl
  src/CUDA2HIP.cpp
  src/CUDA2HIP_Scripting.h
  src/HipifyAction.cpp
  tests/unit_tests/synthetic/nvrtc2hiprtc.cu
Labels: HIP, workaround

#1839 [HIPIFY][doc][fix] Update Table URLs and other minor changes
  docs/index.rst
  docs/sphinx/_toc.yml.in
Labels: documentation, fix

#1844 [HIPIFY][DNN] Support for `cuDNN 9.7.0` - Step 1
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, DNN, CUDA, partial

#1845 [HIPIFY][DNN] Support for `cuDNN 9.7.0` - Step 2 - final
  bin/hipify-perl
  docs/reference/tables/CUDNN_API_supported_by_HIP.md
  docs/reference/tables/CUDNN_API_supported_by_HIP_and_MIOPEN.md
  docs/reference/tables/CUDNN_API_supported_by_MIOPEN.md
  src/CUDA2HIP_DNN_API_types.cpp
Labels: sync, DNN, CUDA, partial

#1846 [HIPIFY][Device][#1796][tests][fix] Fix device test failures on CUDA 11.8.0, 12.0.x, and 12.1.x
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Doc.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice.cu
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice_before_11080_after_12011.cu
Labels: test, fix, device

#1847 [HIPIFY][Device][#1846][doc][fix] Added the `Changed` CUDA version to…
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  tests/unit_tests/synthetic/libraries/cudevice2hipdevice_before_11080_after_12011.cu
Labels: documentation, fix, device

#1848 [HIPIFY][DNN][doc] `cuDNN 9.7.0` is the latest supported version
  docs/building/building-hipify.rst
Labels: documentation, DNN

#1849 [HIPIFY][doc] `LLVM 19.1.7` is the latest supported LLVM release
  docs/building/building-hipify.rst
  docs/how-to/hipify-clang.rst
Labels: documentation, clang

#1850 [HIPIFY][doc][6.4.0] `CHANGELOG.md` update
  CHANGELOG.md
Labels: documentation
