Repository ROCm/HIPIFY, pull requests merged in 2025-03, with the labels that each got.

#1870 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 6 - Driver API Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Labels: feature, sync, CUDA

#1871 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 7 - Driver API Data Types (last)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
Labels: feature, sync, CUDA

#1874 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 8 - Driver API functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_functions.cpp
Labels: feature, sync, CUDA

#1875 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 9 - Driver API functions (last)
  bin/hipify-perl
  docs/reference/tables/CUDA_Driver_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Driver_API_functions.cpp
Labels: feature, sync, CUDA

#1876 [HIPIFY] Formatting
  src/CUDA2HIP_Driver_API_types.cpp
Labels: formatting

#1877 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 10 - Runtime API Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: feature, sync, CUDA

#1878 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 11 - Runtime API Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: feature, sync, CUDA

#1879 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 12 - Runtime API Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: feature, sync, CUDA

#1873 [HIPIFY][build][#1840][clang][fix] Make hipify-clang buildable with an LLVM configured to link `libLLVM.so`
  CMakeLists.txt
Labels: fix, feature, clang, build, compatibility

#1880 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 13 - Runtime API Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
  tests/unit_tests/synthetic/runtime_enums.cu
Labels: feature, sync, CUDA

#1866 [HIPIFY][package][fix] Updating scripts to use new libexec scripts install location
  CMakeLists.txt
  bin/hipconvertinplace-perl.sh
  bin/hipconvertinplace.sh
  bin/hipexamine-perl.sh
  bin/hipexamine.sh
  packaging/hipify-clang.txt
Labels: fix, package

#1881 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 14 - Runtime API Data Types (last)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP_Driver_API_types.cpp
  src/CUDA2HIP_Runtime_API_types.cpp
Labels: feature, sync, CUDA

#1885 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 15 - Runtime API functions (last)
  bin/hipify-perl
  docs/reference/tables/CUDA_Runtime_API_functions_supported_by_HIP.md
  src/CUDA2HIP.h
  src/CUDA2HIP_Driver_API_functions.cpp
  src/CUDA2HIP_Runtime_API_functions.cpp
Labels: feature, sync, CUDA

#1886 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 16 - `fp6` Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_types.cpp
Labels: feature, sync, CUDA, device

#1887 [HIPIFY][doc] `LLVM 20.1.0` is the latest stable supported LLVM release
  docs/building/building-hipify.rst
  docs/how-to/hipify-clang.rst
Labels: documentation, clang

#1888 [HIPIFY][doc][fix] Make `CUDA 12.6.3` back the latest supported and recommended configuration
  docs/how-to/hipify-clang.rst
Labels: documentation, fix, CUDA

#1892 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 18 - `fp4` Data Types
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_types.cpp
Labels: feature, sync, CUDA, device

#1891 [HIPIFY][SWDEV-501982][cufftXt][feature] cufftXt support - Part 1 - Data Types
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cufftXt2hipfftXt.cu
Labels: feature, sync, FFT

#1894 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 19 - `fp4` Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: feature, sync, CUDA, device

#1893 [HIPIFY][SWDEV-501982][cufftXt][feature] cufftXt support - Part 2 - Functions
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  src/CUDA2HIP_FFT_API_types.cpp
  tests/unit_tests/synthetic/libraries/cufftXt2hipfftXt.cu
Labels: feature, HIP, sync, FFT

#1896 [HIPIFY][Tensor] cuTensor 2.2.0.0 is the latest supported version
  bin/hipify-perl
  docs/building/building-hipify.rst
  docs/reference/tables/CUTENSOR_API_supported_by_HIP.md
  src/CUDA2HIP_TENSOR_API_functions.cpp
  src/Statistics.cpp
  src/Statistics.h
Labels: sync, CUDA, Tensor

#1898 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 20 - `fp128` Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: feature, sync, CUDA, device

#1899 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 20 - `fp128` Functions - Part 2
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: feature, sync, CUDA, device

#1900 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 20 - `fp128` Functions - Part 3 - final
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
Labels: feature, sync, CUDA, device

#1897 [HIPIFY][SWDEV-501982][cufftXt][feature] cufftXt support - Part 3 - Functions
  bin/hipify-perl
  docs/reference/tables/CUFFT_API_supported_by_HIP.md
  src/CUDA2HIP_FFT_API_functions.cpp
  tests/unit_tests/synthetic/libraries/cufftXt2hipfftXt.cu
Labels: feature, HIP, sync, FFT

#1903 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 24 - `fp8` Functions
  bin/hipify-perl
  docs/reference/tables/CUDA_Device_API_supported_by_HIP.md
  src/CUDA2HIP_Device_functions.cpp
  src/CUDA2HIP_Device_types.cpp
Labels: feature, sync, CUDA, device

#1904 [HIPIFY][#1897][tests][fix] Fix `cufftXt2hipfftXt.cu` test failed on `CUDA < 8.0`
  tests/unit_tests/synthetic/libraries/cufftXt2hipfftXt.cu
Labels: test, fix, FFT

#1906 [HIPIFY][SWDEV-514098] `CUDA 12.8.0` support - Step 25 - Library Types
  bin/hipify-perl
  docs/reference/tables/CUBLAS_API_supported_by_HIP.md
  docs/reference/tables/CUBLAS_API_supported_by_HIP_and_ROC.md
  docs/reference/tables/CUBLAS_API_supported_by_ROC.md
  src/CUDA2HIP_BLAS_API_types.cpp
Labels: feature, sync, BLAS, CUDA

#1907 [HIPIFY][FFTXT][test][fix] Refactor pointers in `cufftXt2hipfftXt.cu`
  tests/unit_tests/synthetic/libraries/cufftXt2hipfftXt.cu
Labels: test, fix, FFT

#1908 [HIPIFY][SWDEV-514098][RTC] `CUDA 12.8.0` support - Step 26 - RTC
  bin/hipify-perl
  docs/reference/tables/CUDA_RTC_API_supported_by_HIP.md
  src/CUDA2HIP_RTC_API_functions.cpp
  src/CUDA2HIP_RTC_API_types.cpp
Labels: feature, sync, CUDA, RTC

#1909 [HIPIFY][RTC] Mark all `HIP_UNSUPPORTED` APIs as `UNSUPPORTED`
  src/CUDA2HIP_RTC_API_functions.cpp
  src/CUDA2HIP_RTC_API_types.cpp
Labels: enhancement, RTC
